body{
  font-family: "宋体";
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.yscb_fenlei{
   width:700px;
   height:400px;
   border:1px solid #CECECE;
   margin:0 0 20px 20px;
}

.xlzd_fenlei{
   width:700px;
   height:400px;
   border:1px solid #CECECE;
   margin:20px 0 20px 20px;
}

.xgzb_fenlei{
   width:700px;
   height:400px;
   border:1px solid #CECECE;
   margin:20px 0 20px 20px;
}

.lazn_fenlei{
   width:700px;
   height:400px;
   border:1px solid #CECECE;
   margin:20px 0 20px 20px;
}


.shcf_fenlei{
    width:700px;
    height:400px;
    border:1px solid #CECECE;
    margin:20px 0 20px 20px;
}

.zccp_fenlei{
    width:700px;
    height:400px;
    border:1px solid #CECECE;
    margin:20px 0 20px 20px;
}

.xzys_fenlei{
     width:700px;
     height:400px;
     border:1px solid #CECECE;
     margin:20px 0 20px 20px;
}

