@charset "utf-8"; /* CSS Document */


/* -----------------------------quiz 开始-------------------------- */
/* quiz view的整体字体颜色 */
.view-whx-quiz {
color:#333333;
}
/* 首页图片与小题两栏 排列*/
.view-whx-quiz .attachment-before .view-whx-quiz{
clear:none;
}
.view-whx-quiz  .attachment-before .view-content{
float:left;
height:374px;
overflow:hidden;
padding:10px;
position:relative;
width:275px;
clear:none;
margin-bottom:40px;
}
.view-whx-quiz  .view-display-id-attachment_1 .view-content,.view-whx-quiz  .view-display-id-attachment_3 .view-content,.view-whx-quiz  .view-display-id-attachment_5 .view-content{
background:none repeat scroll 0 0 #FFF7F7;
margin-right:10px;
}
/* 标题与连接、摘要、点击率的颜色、大小 */
.view-whx-quiz .view-header  a  ,
.view-whx-quiz .view-header a:visited,
.view-whx-quiz .views-field-title  a  ,
.view-whx-quiz .views-field-title  a:visited{
color:#911D2B;
cursor:pointer;
text-decoration:none;
font-weight:700;
}
.view-whx-quiz .view-header h1{
padding-bottom:0px;
}
h1 span {
color:#666666;
font-size:12px;
font-weight:400;
margin-left:10px;
}
.view-whx-quiz .views-row{
margin-bottom:20px;
clear:both;
}
.view-whx-quiz  .attachment-before .views-field-teaser {
min-height:60px;
overflow:hidden;
}
.view-whx-quiz .views-field-totalcount {
color:#999999;
float:right;
margin-top:-22px;
}
/* 分类显示区块 */
.section-quiz .attachment-before .view-content{
background:none repeat scroll 0 0 #FFF7F7;
float:none;
clear:both;
width:700px;
height:275px;
margin-bottom:20px;
}
/* 内容中的小图 */
.section-quiz .view-whx-quiz .views-field-field-quiz-tuijian-pic-fid {
float:right;
margin:0 0 20px 10px;
}
/* 分类推荐图 */
.section-quiz .attachment-before .views-field-field-quiz-tuijian-pic-fid{
float:left;
padding-right:10px;
margin:0px;
}
.section-quiz .attachment-before .views-field-teaser{
height:250px;
}
/* quiz 结束 */

.sidebar-right .center{
	margin-right:235px;
	padding:0 10px;
}

.view-whx-quiz .view-header h1{
	background: url(fp_images/erjibg.gif) repeat-x;
	width:100%;
	height:38px;
	clear:left;
}



.view-whx-quiz .view-display-id-attachment_2 .view-content, .view-whx-quiz .view-display-id-attachment_4 .view-content, .view-whx-quiz .view-display-id-attachment_6 .view-content{
	width:380px;
}

.view-whx-quiz .view-header a, .view-whx-quiz .view-header a:visited{
	background:url("fp_images/red.gif") no-repeat scroll left center transparent;
	color:#961F1F;
	font-size:14px;
	font-weight:bold;
	line-height:33px;
	margin-left:20px;
	padding-left:13px;
}
#block-block-53 .view-content .views-row{
	padding:2px 0px;
	height:25px;
}

#block-block-53 .view-content .views-row-odd{
	float:left;
}
#block-block-53 .view-content .views-row a{
	padding:0px 8px;
}
#block-block-53 .block-inner .view-content{
	padding:8px 8px 0 16px;
	 width:200px; 
	/**/
	display:block;
}

#block-block-53 .view-id-quiz_taxonomy .view-header{
	background-image:none;
	height:20px;
}


/* quiz 答题选项的css */
#quiz-question-answering-form  .form-radios tbody  td.selector-td {
width:20px;
}
#quiz-question-answering-form  .form-radios tbody  td.selector-td .form-item{
height:13px;
}
#quiz-question-answering-form  .form-item  tbody  td p{
margin:5px 0;
}

/* right bar右边栏边框没有全部包括的问题 不是最好解决方案*/
#sidebar-second  #block-block-53 .block-inner .content {
height:320px;
}
/* 影藏对quiz题目通过率等的说明文字 */
#quiz-view-table {
display:none;
}
