body{
  font-family: "宋体";
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.swyy_fenlei{
   width:680px;
   height:400px;
   border:1px solid #CECECE;
   margin:0 0 20px 20px;
}

.kjyy_fenlei{
   width:680px;
   height:400px;
   border:1px solid #CECECE;
   margin:20px 0 20px 20px;
}

.gqwh_fenlei{
   width:680px;
   height:400px;
   border:1px solid #CECECE;
   margin:20px 0 20px 20px;
}

.tyyy_fenlei{
   width:680px;
   height:400px;
   border:1px solid #CECECE;
   margin:20px 0 20px 20px;
}
