/* .zhuanqu_21st{ width:960px; height:300px; border:1px solid #999}
.zq_title_21st{height:40px; border-bottom:1px solid #999; font-size:14px;}
.box_21st{ width:700px; float:left}
.dl_21st{ float:right; width:250px; height:250px }
.box_21st div{float:left; width:270px;margin:2px;}
.column_21st_l1{float:left; width:49%; height:100px; margin:2px;}
 */