# ignore anywhere in the tree
*.gz
*~
*.swp
# ignore directory in drupal root directory
cache/*
cache
cacti
misc/dynamic/*
guanlisjk
zhuanti
js/*
css/*
languages/*
progs/*
cacti/*
del/*
*/files/*
# ignore direcotires anywhere in the tree
*/guanlisjk/*
*/del/*
*/bak/*
