.fenglei table{
	width:100%;
	margin-bottom: 20px;
}
.fenglei table td{
	/*width:170px;*/
	padding:14px 13px 6px;
	vertical-align: top;
}

.fenglei,.fenglei a{
	color:white;
}

.term_image img,.term_image img:link,.term_image img:visited{
	display:block;
	padding: 18px;
	/*width:162px;
	height:162px;*/
	background:url("images/border.png") no-repeat scroll center center transparent;
	text-align:center;
	vertical-align:middle;
}
.term_image img:hover,.term_image img:active{
	background:url("images/border_selected.png") no-repeat scroll center center transparent;
}

.term_name,.term_description{
	padding:1px 15px;
}

.term_name{
	font-size:1.7em;
	font-weight:normal;
}

.term_description{
	font-weight:normal;
	color:#e6ebf0;
}