/* -------------------------------------视频开始啦 -------------------------------------*/

/*---视频标题中 收藏 、分享等按钮--*/
.mobile-shipin .flag-bookmarks a {
	background: url("images/shoucang.png") no-repeat;
	display: block;
	width: 75px;
	height: 30px;
	float: right;
	margin-right: 22px;
	margin-top: 10px;
	font-size: 16px;
	color: #1E3037;
	line-height: 30px;
	text-indent: 23px;

}
.mobile-shipin .flag-bookmarks a.unflag-action{
	color: #738D97;
}

/* 保持附件的相对位置，clear:both让after不飘到before的位置 */

.mobile-shipin .content-wrapper {
	position: absolute;
	display: block;
	clear: both;
	height: 400px;
	left: 20px;
	width: 728px;
}
/* 可点击的按钮 */

.mobile-shipin .tab{
	position:absolute;
	width:180px;
	background:url("images/Vtab_btn.png") repeat-x;
	border-left:1px solid #0a1c24;
	border-right:1px solid #3c5163;
	/*padding:2px 8px 2px 28px;*/
	display:block;
	z-index:999;
	padding:16px 0;

	text-align: center;
	color:#6BB3C9;
	font-weight:bold;
	font-size:1.8em;
	
	/*
	-webkit-text-fill-color: #6BB3C9;
	-webkit-text-stroke: 0.5px #4B7F91;
	text-shadow:2px 2px 1.5px #364b55;*/
}


.mobile-shipin .on{
	background:url("images/Vtab_btn_on.png") repeat-x;
	color:#99daef;
	border-left:1px solid #0a1c24;
	border-right:1px solid #3c5163;
	/*
	-webkit-text-fill-color: #99daef;
	-webkit-text-stroke: 0.5px #658d9a; 
	text-shadow:1px 1px 1px #316175;*/
}

.mobile-shipin .tab-1 {
	left:182px;

}
.mobile-shipin .tab-2 {
	left:364px;
}
.mobile-shipin .tab-3 {
	left:546px;
}
.mobile-shipin .tab .textGradient{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6FB8CE), to(#16526C));
	color: transparent;
	-webkit-background-clip: text;
	line-height: 24px;
	
}
.mobile-shipin .on .textGradient{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a7e7fa), to(#307d9e));
	color: transparent;
	-webkit-background-clip: text;
}


/* 内容的位置 相关位置*/
.mobile-shipin .tabcontent{
	position:absolute;
	display:block;
	clear:both;
	top:56px;
	z-index:1;
	background-color:#061922;
	border-left:1px solid #4f5a65;
	border-right:1px solid #4f5a65;
	border-bottom:1px solid #9da2a6;
	box-shadow:0px 1px 1px #49535c;
	
	height: 400px;
	overflow-y: scroll;
	
	padding: 30px 15px;
	font-size: 1.5em;
	line-height: 1.7em;

}

/* 在css中隐藏，实现js中的.hide() ，防止在页面不加载js时出现页面混乱的问题*/
.mobile-shipin .tabcontent-1,
.mobile-shipin .tabcontent-2,
.mobile-shipin .tabcontent-3
{
	display:none;
} 

