@charset "utf-8"; /* CSS Document */

 #content  ul  li.login_duhougan a{
-moz-border-radius:5px 5px 5px 5px;
-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
background:none repeat scroll 0 0 #FF5C00;
border-color:-moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.25);
border-style:none none solid;
border-width:medium medium 1px;
color:#FFFFFF;
cursor:pointer;

font-size:12px;
line-height:1;
padding:6px 14px 5px;
position:relative;
text-decoration:none;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);

}
#content  ul li.login_duhougan a:hover{
background:#ffb515;
}


.terms .links .login_duhougan a{
display: none;
}

#confirm_message .confirm-links li{
	margin:10px 0;
	list-style:none;
	
}
#confirm_message .confirm-links li a{
-moz-border-radius:5px 5px 5px 5px;
-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
background:none repeat scroll 0 0 #58C16D;
border-color:-moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.25);
border-style:none none solid;
border-width:medium medium 1px;
color:#FFFFFF;
cursor:pointer;
display:inline-block;
font-size:14px;
font-weight:bold;
line-height:1;
padding:8px 14px 9px;
position:relative;
text-decoration:none;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
}
#confirm_message .confirm-links li a:hover{
	background:#67C124;
}
/* whx bxy */
/* 给duhougan confirm等页面加一个最低高度 */
.page-duhougan-confirm #content {
min-height:350px;
}
/* 让confrim links横着排列并增加之间间距 */
.page-duhougan-confirm #confirm_message .confirm-links ul li {
display:block;
float:left;
margin:10px 20px;
}
/* 让h3标题和下面的 confirm message 左对齐 */
.page-duhougan-confirm #confirm_message h3{
margin:30px 0px 20px 56px;
}
/* confirm message页面的navigation导航的位置有问题，使用了绝对位置进行调整，整体布局好后进行修改 */
.section-duhougan_confirm #navigation {
position:absolute;
top:50px;
}

/*view-duhougan-fenlie 分类显示 应该为fenlei*/
.page-fenlei .view-duhougan-fenlie .view-content li,
.section-yuedu .view-yuedu-taxonomy-term .view-content li{
/* 	overflow:hidden;  这个也能去掉list的前面的样式 via ruby 令人费解啊*/ 
	list-style:none;
	height:170px;
    padding:10px;
	border-bottom:1px dashed #CCC;
	margin:0
}
/* 为了与 以上内容的padding相同*/
.page-fenlei .view-duhougan-fenlie .view-filters{
padding-left:10px;
} 
.page-fenlei .view-duhougan-fenlie .views-field-field-yuedu-cover-fid,
.section-yuedu .view-yuedu-taxonomy-term .views-field-field-yuedu-cover-fid{
	float:left;
	width:120px;
	display:inline;
}
/* whx 修改，增加text-indent，使读后感分类显示页面简介部分段落首行缩进2字符 */
.page-fenlei .view-duhougan-fenlie .views-field-field-yuedu-summary-value,
.section-yuedu .view-yuedu-taxonomy-term .views-field-field-yuedu-summary-value{
	line-height:1.8;
	text-indent:26px;
}
/* end 读后感、图书分类 */

.view-duhougan-all-children .view-content .views-table,
.view-taxonomy-term .view-content .views-table {
width:98%;
margin-left:8px;
}
.view-all-duhougan .view-content .views-table tr, .view-users-duhougan .view-content .views-table tr, .view-duhougan-all-children .view-content .views-table tr,.view-taxonomy-term .view-content .views-table tr {
background-color:#FFFFFF;
border-bottom:2px solid #E5EBE1;
}
.view-all-duhougan .view-content .views-table tr th, .view-users-duhougan .view-content .views-table tr th, .view-duhougan-all-children .view-content .views-table tr th,.view-taxonomy-term .view-content .views-table tr th{
background-color:#FFFFFF;
height:33px;
line-height:33px;
}
.page-all-duhougan #main #main-inner #content {
width:710px;
}
.view-duhougan-all-children .view-content .views-table {
width:98%;
}
/* whx 修改dhgps页面副标题及内容错位的CSS */
.page-dhgps #content .field-items .field-item {
line-height:22px;
text-indent:0;
clear:both;
}
/* whx修改读后感评审标题，去掉content-header的高度，添加view-header；即去掉区块标题，添加views的标题*/
.page-dhgps #main #main-inner #content  #content-inner #content-header
{display:none;height:0px;}
.page-dhgps #main #main-inner #content
{border:#D1D1D1 1px solid;width:610px; border-top:none; padding:0 10px;}
.page-dhgps #content .views-exposed-form .views-exposed-widget .form-submit {
margin-top:1.05em;
}
.page-dhgps #main #main-inner #content #content-inner #content-area .view-header {
background-image:url(images/video_titleall.jpg);
color:#4AB740;
border:medium none;
clear:both;
font-size:12px;
font-weight:bold;
height:35px;
line-height:35px;
margin-left:-10px;
width:630px;
text-indent:10px;
}
.view-duhougan .view-content li.views-row{
	border-bottom:1px dashed #CCC;
	list-style:none;
}


/* readthink node页面 */
/* 增加正文显示宽度 bxy whx */
.node-type-readthink .field-field-dhg-zhengwen{
	width:560px;
}
/* 让读后感的terms和作者信息左对齐 */
.node-type-readthink .meta {
float:left;
display:block;
clear:both;
}
/* 让读后感的副标题也左对齐，也就是所有duhougan fields左对齐 */
.node-type-readthink #content .field-items .field-item {
clear:both;
display:block;
text-indent:0;
}
/* whx starts from here */
/* readthink 及 dhgps 页单独让读后感正文字段缩进 */
.node-type-readthink #content .field-field-dhg-zhengwen .field-items .field-item,.page-dhgps #content .field-field-dhg-zhengwen .field-items .field-item {
text-indent:26px;
}
/* 修改发表读后感页面的标题位置 */
.page-node-add-readthink #page #page-inner #main #main-inner #content #content-inner #content-area form div .node-form .standard #edit-title-wrapper label  {
float:none;
font-weight:bold;
text-align:left;
}
/* 查看读后感页面控制标题的位置 */
.node-type-readthink #page #page-inner #main #main-inner #content #content-inner #content-header h1.title {
font-size: 1.8em;
text-align:left;
}
/* 评论书籍名称与评论正文的距离修改 */
.node-type-readthink  .field-field-dhg-pinglun-shuming{
padding:15px 0 0 0px;
}
/* 读后感推荐flag，点击前与点击后进行区分的CSS */
.flag-duhougan-tuijian .flag-action  {
color:#33A641;
font-size:1.2em;
}
.flag-duhougan-tuijian .unflag-action  {
color:#8B9191;
font-size:1em;
}
/* 提交第一篇读后感，加10分的提示位置布局 */
.page-duhougan-confirm #confirm_message h4 {
clear:both;
margin:30px 0 20px 56px;
}