.lunbo {
	float: left;
	width: 315px;
	height: 400px;
	border: 1px solid #CECECE;
	padding: 6px;
}
.zdtj {
	height: 340px;
	width: 358px;
	float: left;
	margin-left: 20px;
}
.csfl {
	height: 380px;
	width: 220px;
	float: left;
	margin-left: 20px;
}
.ad_1 {
	width: 960px;
	float: left;
	margin-top: 15px;
}
.ad_2 {
	height: 82px;
	width: 960px;
	float: left;
	margin-top: 15px;
}
.ad_3 {
	height: 82px;
	width: 960px;
	float: left;
	margin-top: 15px;
}
.zxtk {
	float: left;
	height: 497px;
	width: 720px;
	margin-top: 15px;
	border: 1px solid #CECECE;
}
.kuang {
	float: left;
	width: 220px;
	height: 479px;
	margin: 15px 0 0 18px;
}
.ksrl {
	height: 440px;
	width: 218px;
	/*background-color: #F5F5F5;*/
	border-left: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
}
.dfphb {
	/*width: 218px;
	height: 236px;
	/*height: 229px;*/
	/*margin-top: 15px;
	border: 1px solid #CECECE;*/
}

.zxlx {
	float: left;
	height: 400px;
	width: 950px;
	margin-top: 15px;
	border-top: 1px solid #CECECE;
	border-left: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
        overflow:hidden;
}
.ztcs {

	float: left;
	height: 435px;
	width: 720px;
	margin-top: 15px;
	border: 1px solid #CECECE;
}
.ztcsphb {

	float: left;
	height: 465px;
	width: 218px;
	margin: 15px 0 0 16px;
	border-bottom: 1px solid #CECECE;
	border-left: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
}
.qwcs {


	float: left;
	height:auto;
	width: 720px;
	margin-top: 15px;
	border: 1px solid #CECECE;
}
.qwcsphb {


	float: left;
	height: 420px;
	width: 218px;
	margin: 15px 0 0 16px;
	border-bottom: 1px solid #CECECE;
	border-left: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
}
