.classic{ width:960px; margin:auto}
.classic_left{ width:710px; float:left}
.classic_right{ width:224px; float:right}
.section{ width:100%; overflow:auto;border:1px solid #ffcea9; margin-bottom:10px;}


