.classic{ width:560px; margin:auto}                                                                                                         
.classic_left{ width:49%;height:600px; float:left}                                                                                                     
.classic_right{ width:49%;height:600px; float:right}                                                                                                   
.section{ width:340px; overflow:auto;border:1px solid #ffcea9; margin-bottom:10px;height:250px;} 
