@charset "utf-8";
/* CSS Document */


#readit-wrapper a:link{color:#FFF;}
#readit-wrapper a:visited {color:#FFF;}
#readit-wrapper a:hover{color:#FFF;}

#next-word-wrapper a:link{color:#FFF;}
#next-word-wrapper a:visited {color:#FFF;}
#next-word-wrapper a:hover{color:#FFF;}

#read-after-wrapper a:link{color:#FFF;}
#read-after-wrapper a:visited {color:#FFF;}
#read-after-wrapper a:hover{color:#FFF;}

#testing-wrapper a:link{color:#FFF;}
#testing-wrapper a:visited {color:#FFF;}
#testing-wrapper a:hover{color:#FFF;}

#next-word-wrapper1 a:link{color:#FFF;}
#next-word-wrapper1 a:visited {color:#FFF;}
#next-word-wrapper1 a:hover{color:#FFF;}


#aispeech-top {width:347px; height:49px;}
#aispeech-center {
	width:297px;
	background-image:url(images/test2.jpg);
	 
	padding:15px 25px;

}
#aiRecorder-wrapper, #aiPlayer1-wrapper{
	width:347px;
	background-image:url(images/test2.jpg);
	padding:0px 0px;
	display: block;
	margin:0;

}
#aispeech-word{
	font-size:25px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-weight:bold;

	}
	
#aispeech-explain{
	font-size:12px;
	color:#666;
	padding:3px 0px;
	line-height:20px;

}
#aispeech-button{
	height:41px;
    display: block;
	vertical-align:top;
	color:#FFF;
	font-size:14px;
	width:297px;
	padding:2px 25px;
	background-image:url(images/test2.jpg);

		}
#aispeech-button  #defaultCountdown{
color:#F00;
font-size:14px;
padding-left:40px;
}

#aispeech-footer{
	height:41px;
	color:#FFF;
	font-size:14px;
	width:297px;
	padding:6px 25px;
	background-image:url(images/test2.jpg);
		}
		
#aispeech-foot{
	height:1px;
	width:347px;
	background-color:#cdcdcd;
	}
#aispeech-result{
	text-align:center;
    width:297px;
	
	padding:3px 25px 3px 25px;
	color:#C00;
	font-size:14px;
	background-image:url(images/test2.jpg);}
#aispeech-result2{
	text-align:center;
    width:297px;
	padding:5px 25px;
	color:#C00;
	font-size:14px;
	background-image:url(images/test2.jpg);}

.aispeech-tdbutton{
	padding-top:6px;
	text-align:center;
	width:97px;
	height:35px;
	background-image:url("http://video.2u4u.com.cn/sites/video.2u4u.com.cn/modules/custom/aispeech/images/test3.jpg");
	vertical-align:top;
	}

.aispeech-tdbutton2{
	padding-top:6px;
	text-align:center;
	width:126px;
	height:35px;
	background-image:url(images/test5.jpg);
	vertical-align:top;
	margin: 0 auto;
	}
.aispeech-td02{
	color:#C00;
	font-size:12px;
	padding:3px;}
	
.aispeech-tdbutton table{
  margin:0em 0pt;
}
.aispeech-tdbutton tbody {
border-top:0px solid #CCCCCC;
}
.aispeech-tdbutton table td, .aispeech-tdbutton table th {
padding:0em 0em;
}
.aispeech-tdbutton2 table{
  margin:0em ;
}
.aispeech-tdbutton2 tbody {
border-top:0px solid #CCCCCC;
}
.aispeech-tdbutton2 table td, .aispeech-tdbutton2 table th {
padding:0em 0em;
}

#aispeech-explain{
 margin-top: 10px;
 height:120px;
 border:1px solid #ccc;
 background:#f2f2f2;
 padding:6px;
 overflow:auto;
}

table {
border: 0 none;
border-collapse: separate;
}
.aispeech-table-step-1 { 
text-align:center;
	}
#aispeech-top img{ width:347px;}
#aispeech-result-A {
	padding-top:30px;
	padding-bottom:27px;}
	
#aispeech-result-B {
	padding-top:30px;
	padding-bottom:27px;}
	
#aispeech-result-C {
	padding-top:30px;
	padding-bottom:27px;}	
	
#aispeech-result-D {
	padding-top:30px;
	padding-bottom:27px;}