@charset "utf-8"; /* CSS Document */
 
/* -----------------------------------电子图书馆 阅读 开始 -----------------------------*/

/*系列图书*/

.view-whx-yuedu .view-display-id-attachment_1 .item-list{
	position:relative; 
	width:90px;
	float:left;
	margin:0 9px;
	z-index:100;
}
.view-whx-yuedu .view-display-id-attachment_1 .item-list img{
	width:90px;
	height:120px;
 }
.view-whx-yuedu  .view-display-id-attachment_1  .views-row{
	position:absolute;
	display:none;
	list-style:none;
	z-index:999;
}
/* 阴影 ie不支持*/
 .shadow-right {
-moz-border-radius:3px 3px 3px 3px;
-moz-box-shadow:2px 2px 2px #999999;
}
/* 边框及颜色 */
 .detail-tip {
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #DDDDDD;
padding:13px 13px 10px;
position:absolute;
width:300px;
top:0px;
left:110px;
z-index:9999; 
}
/* 小三角 */
 .arrow-left {
background:url("images/arrow_gray.gif") no-repeat scroll 0 0 transparent;
height:9px;
left:0;
margin-left:-6px;
position:absolute;
top:30px;
width:6px;
z-index:9999; 
}
/* 阅读首页 hover end */

/* 阅读滚动 开始  */
/* prev, next, prevPage and nextPage buttons */
 .anniu{
float:right;
width:120px;
display:inline;
}
a#prev2, a#next2{
	width:18px;
	height:18px;
	background:url(images/left.png) 0 -18px no-repeat;
	float:right;
	cursor:pointer;
	font-size:1px;
}
a#next2{
	background:url(images/right.png) 0 -18px no-repeat;
}

a#prev2.disabled, a#next2.disabled{
	background-position:0 0;		
}
/* position and dimensions of the navigator */
#navi1,#navi2 ,.navi{
	float:right;
	margin-top:2px;
}
/* items inside navigator */
#navi1 a ,#navi2 a ,.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(images/navigator.png) 0 0 no-repeat;
	font-size:1px;
}
/* mouseover state */
#navi1 a:hover,#navi2 a:hover ,.navi a:hover{
	background-position:0 -8px;      
}
/* active state (current page state) */
#navi1 a.active ,#navi2 a.active ,.navi a.active {
	background-position:0 -16px;     
} 	
/* this makes it possible to add next button beside view-content */
.view-whx-yuedu .view-display-id-attachment_1 .view-content-cover{
	clear:none;
	float:right;
	height:400px;
	overflow:hidden;
	position:relative;
	width:320px;
}
.view-whx-yuedu .view-display-id-attachment_1 .view-header{
 	height:25px;
}
 .content-content-area-top.view-whx-yuedu .view-display-id-attachment_1 .view-header  h2{
display:inline;
float:left;
}
 .view-whx-yuedu .view-display-id-attachment_1  .view-content {
position:absolute;
width:20000em;
left:-4px; 
}

.forff{
	clear:left;
}
.forie{
	*clear:left;
	*+clear:left;
}
/* 阅读滚动 结束 end  */


/*----------------------------------- 首页flash 幻灯片---------------------------------*/
#huandengpian{	/* 幻灯片总体设置 */
position:relative;
height:400px;
width:288px;
border:1px solid #cecece;
background-color:#eee;
}
#huandengpian .view-content{
margin:8px;	
}

/* 幻灯片左侧大图与文字 */
#huandengpian .views-field-field-slideshow-cover-fid,#huandengpian .views-field-title,#huandengpian .views-field-body{
	width:200px;
	padding:5px;
	display:none;
	line-height:19px;
}

#huandengpian .views-field-body{
	height:45px;
	width:270px;
}
#huandengpian  .views-row-1 .views-field-field-slideshow-cover-fid,#huandengpian  .views-row-1 .views-field-title,#huandengpian  .views-row-1 .views-field-body{
	display:block;
}

#huandengpian img.imagefield-field_yuedu_cover{
	width:200px;
	height:300px;
}
#huandengpian .views-field-field-slideshow-cover-fid{
	height:300px;
}
#huandengpian img.imagecache-shu_width_100{
 width:48px;
 height:65px;
}

/* 标题鼠标hover的样式 */
#huandengpian .on .views-field-field-slideshow-cover-fid-2,#huandengpian .on .views-field-field-slideshow-cover-fid{
 background-color:#fff;
 border:1px solid #cecece;
 -moz-box-shadow:2px 2px 2px #999999;
 padding:5px;
 border-left:0px;
 z-index:5;
}
#huandengpian .on .views-field-field-slideshow-cover-fid{
border:1px solid #cecece;
}

/* 右侧标题 */
#huandengpian .views-field-field-slideshow-cover-fid-2{
	left:219px;
	padding:5px 5px 5px 6px ;
	position:absolute;
	height:65px;
}

/* 标题相对于#huandengpian的绝对位置 */
#huandengpian .views-row-1 .views-field-field-slideshow-cover-fid-2 {
top:8px;
}

#huandengpian .views-row-2 .views-field-field-slideshow-cover-fid-2 {
top:86px;
}
#huandengpian .views-row-3 .views-field-field-slideshow-cover-fid-2 {
top:164px;
}
#huandengpian .views-row-4 .views-field-field-slideshow-cover-fid-2 {
top:243px;
}
/* 幻灯片 flash end */



/*--------------- 评论 ----------------*/

.node-type-ebook #comments{
	border:1px solid #CECECE;
	margin-top:15px;
	padding:10px 0 0 0;
}


.node-type-ebook .comments_title{
	background:url("images/images-19.gif") no-repeat scroll left center transparent;
	font-weight:bold;
	font-size:14px;
	color:#901616;
	text-indent:20px;
	margin-left:20px;
	margin-bottom:5px;
}


.node-type-ebook #comments .indented{
	margin-left:0;
}

.node-type-ebook #comments .submitted a{
	color:#8C6F00;
}

.node-type-ebook #comments .content{
	margin:10px 20px 0 20px;
}

.node-type-ebook #comments ul.links li{
	float:right;
	margin-right:10px;
}
.node-type-ebook .box form#comment-form>div>div.form-item>label,.node-type-ebook .box form#comment-form>div>div.form-item>a {
display:none;
}

.node-type-ebook #edit-preview{
	display:none;
}

.node-type-ebook #comment-form #edit-submit{
	background:url("images/save.jpg") no-repeat scroll left center transparent;
	border:0px none;
	width:64px;
	height:31px;
	font-size:0px;
	cursor:pointer;
	text-indent:-5000px;
}
#comments .box{
	background-color:#F1F1F1;
	padding-top:5px;
	padding-bottom:15px;
}
/*--- //end 评论-----*/



/*------google 提供的广告----*/
.google_gg{
    padding:9px 9px 2px;
    background-color:#dddddd;
    border-top:1px solid #CECECE;
}

/*--------微博--------*/
.trends-row {
    border-bottom: 1px dashed #DDDDDD;
    clear: both;
    margin: 15px 0;
    overflow: hidden;
    padding: 0 0 10px;
    position: relative;
    width: 100%;
}
.user_image {
    float: left;
    margin-right: 20px;
    width: 56px;
}
.user_image img ,.sina_image img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: block;
    height: 50px;
    padding: 2px;
    width: 50px;
}
.user_name_text {
    float: left;
    position: relative;
    width: 630px;
    margin-bottom: 20px;
}
.user_name_text.withimg {
    width: 550px;
}
.book_img_date {
    float: right;
    position: relative;
    position: absolute;
    right: 5px;
}
.book_img {
    border: 1px solid #CCCCCC;
    display: block;
    float: right;
    padding: 2px;
    width: 78px;
}
.user_created_at {
    bottom: 10px;
    left: 76px;
    position: absolute;
}

/*推荐此书给当前用户*/
.page-tuijia .box{
	display:none; 
}
.friendList {
    clear: both;
    height: 215px;
    overflow: hidden;
    padding-top: 10px;
    width: 680px;
}
.friendList .fans-row{
    float: left;
    height: 75px;
    overflow: hidden;
    padding: 5px 12px 5px 16px;
    position: relative;
    text-align: center;
    width: 56px;
}
.friendList div.selected em {
    background: url("images/selectedIco.png") no-repeat scroll 0 0 transparent;
    height: 18px;
    position: absolute;
    right: 9px;
    top: 0;
    width: 18px;
    z-index: 3;
}
#sayToFriBox.sayToFri .title {
    color: #746830;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding-left: 15px;
    width: 605px;
    background-color: #F9F9F9;
    border: 1px solid #E5E5E5;
}
#sayToFriBox.focus .title {
    background-color: #F9F0C4;
    border: 1px solid #E5E5E5;
}

#sayToFriBox.sayToFri .textarea {
    border-top: medium none;
    display: block;
    font-size: 12px;
    height: 70px;
    line-height: 22px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px 10px;
    width: 600px;
    
    background-color: White;
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}
#sayToFriBox.focus .textarea {
    background-color: #FFFCEE;
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    color: #333333;
}
#friendList .sina_image a:hover img{
	border-color:#669900;
}
#friendList .sina_name a:hover {
	color:#669900;
}

a.nextBtn:link,a.nextBtn:visited {
    background: url("images/nextBtnHover.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #336600;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 133px;
    display: block;
}
a.nextBtn:hover {
    background: url("images/nextBtn.png") repeat-x scroll 0 0 transparent;
    color: white;
    text-decoration: none;
}

