 @charset "utf-8";
/* -----------------------------------电子图书馆 -----------------------------*/

#sidebar-second .block-inner .block-title-bg{
	height:33px;	
	font-weight:normal;
	border:1px solid #E4E4E4;
	text-indent:.8em;
}

#sidebar-second #block-views-whx_yuedu-block_6 .block-inner .block-title-bg h3{
	background-repeat: no-repeat;
	border:0px;
	height:33px;

}

a:link{
	color:#272727;
}
.block ul{
	padding:5px 0 0.25em 2em;
}


.views-field-title{
	font-size:1em;
}
#zhongdian{
	width:400px;
	float:left;
	margin-left:20px;
	margin-top:-35px;
}

.view-whx-yuedu .view-display-id-attachment_1 .view-header{
	height:35px;
}
.anniu {
	margin:3px 13px 0 0;
}

.section-yuedu #main #content-header .title_bg{
	background-image:url("fp_images/erjibg.gif");
	background-repeat:repeat-x;
	background-position:left top;
	border-top:1px solid #CECECE;
	border-left:1px solid #CECECE;
	border-right:1px solid #CECECE;
	height:50px;
}

/* -----------------------------------活力英语二级页面 ----------------------------
.page-yuedu-10359 .views-field-nothing .field-content a{
  	display:block;
	background:url("http://shop.2u4u.com.cn/sites/shop.2u4u.com.cn/themes/shop/css/fp_images/gouwu.gif") no-repeat scroll 0 0 transparent;
	color:#FFFFFF;
	font-weight:bold;
	height:27px;
	padding:2px 0 0 26px;
	width:85px;
	margin-left:120px;
}
.page-yuedu-10359 #content-area .view-content .item-list li{
	height:190px;
}
.page-yuedu-10359 #content-area .view-content .views-field-title .field-content{
	font-size:16px;
	font-weight:bold;
}
.page-fenlei .view-duhougan-fenlie .views-field-field-yuedu-cover-fid, .section-yuedu .view-yuedu-taxonomy-term .views-field-field-yuedu-cover-fid{
	margin-top:6px;
}


#ebook_ad #ad{
	float:right;
	clear:both;
}

.section-ebook .ebook_ad_left  h1{
	color:#961F1F;
	margin-top:13px;
}
.section-ebook a.duihuan{
	background:url("images/duihua-bottom.gif") repeat scroll 0 0 transparent;
	display:block;
	height:42px;
	line-height:35px;
	width:143px;
	text-decoration:none;
	float:left;
}

.ebook_ad_left #points .price{
	color:#FFFFFF;
	font-size:22px;
	font-weight:bold;
	margin-left:15px;
	line-height:40px;
}
.ebook_ad_left #points .price_unit{
	color:#FFFFFF;
	margin-left:5px;
}

.ebook_ad_left .field_yuedu_author{
	margin-top:15px;
}

.field_yuedu_summary .field_label{
	height:60px;
	display:block;
	float:left;
	width:70px;
}

.field_yuedu_summary .field_content{
}

.section-ebook #content-bottom{
	border-right:1px solid #E6E6E6;
	border-left:1px solid #E6E6E6;
	border-bottom:1px solid #E6E6E6;
}


.section-ebook .block-title-bg{
	background-image:url("/sites/shop.2u4u.com.cn/themes/shop/css/fp_images/gracy-right-bg.gif");
	height:35px;
	margin:0;
	width:100%;
}
.block-title-bg h3.title{
	background:url("images/images-19.gif") no-repeat scroll left center transparent;
	color:#901616;
	text-indent:15px;
	line-height:15px;
	margin-top:10px;
}

.section-ebook .block-inner .item-list ul li{
	float:left;
	height:25px;
	width:260px;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	overflow:hidden;
	margin-right:10px;
	padding:0;
	
}
*/

/* -----------------------------------电子图书馆新版css-----------------------------*/



#huandengpian .view-content .views-row .views-field-title{
	font-size:14px;
	font-weight:bold;
	width:250px;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	overflow:hidden;
}
#huandengpian .view-content .field-content{
	color:#797979;
}

#huandengpian{
	float:left;
}

#huandengpian .views-field-field-yuedu-summary-value {
	padding-bottom:0px;
}

.item-list ul li{
	list-style:none;
	margin:0px;
	padding:0px;
}

#sidebar-second .block-inner .view-content {
	margin-left:10px;
	padding:0px;
	margin-right:10px;
}

.shugang{
	margin-left:5px;
	margin-right:5px;
	color:#868686;
}
.views-row-last .shugang{
	color:#FFFFFF;
}
#sidebar-second .block-inner .content .view-termid-by-name .view-content .field-content a:hover{
	background-color:#870606;
	text-decoration:none;
	color:#FFFFFF;
	
}

#block-views-termid_by_name-block_1 a.active{
	background-color:#870606;
	color:#FFFFFF;
}
#sidebar-second #block-views-termid_by_name-block_1 .views-row{
	display:inline;
}

#sidebar-second h3{
	clear:both;
	padding-top:15px;
}


.term-detail .term-description{
	line-height:18px;
}

.view-display-id-page_9 .view-content .views-field-field-yuedu-cover-fid{
	float:left;
	margin:10px 20px 10px 10px;
	background:url("images/book-bg.gif") no-repeat scroll left center transparent;
	position:relative;
	padding:8px 10px 2px 3px;
}

.section-yuedu .view-yuedu-taxonomy-term .views-field-field-yuedu-cover-fid{
	background:url("images/book-bg.gif") no-repeat scroll left center transparent;
	position:relative;
	padding:8px 0px 2px 3px;
}

.view-id-whx_yuedu #content-area .view-content .views-field-title{
	margin-top:10px;
	font-size:16px;
}

.view-id-whx_yuedu .view-content .views-field-field-yuedu-author-value, .view-yuedu-taxonomy-term .view-content .views-field-field-yuedu-author-value{
	color:#717171;
	margin-top:5px;
}

.view-yuedu-taxonomy-term .view-content .views-field-field-yuedu-summary-value
{
	margin-top:10px;
	white-space:wrap; 
	text-overflow:ellipsis; 
	overflow:hidden;
	height:60px;
	color:#8A8A8A;
	
}

.view-yuedu-taxonomy-term .view-content .views-field-tid
{
	float:right;
	margin-right:20px;
	margin-top:10px;
}

.view-yuedu-taxonomy-term .views-field-tid .field-content a
{
	color:#978448;
}

.view-yuedu-taxonomy-term .view-content .views-field-field-yuedu-pricebypoints-value
{
	float:left;
	margin-top:10px;
}

.section-yuedu .view-yuedu-taxonomy-term .views-field-title
{
	margin-top:13px;
	font-size:1.4em;
	font-weight:bold;
	display:block;
}

#sidebar-second h3.title, #sidebar-second .view-header{
	background:none;
	border:0px;
	padding:0px;
	font-weight:700;
	color:#000;
}

.term-detail{
	padding:3px 0 8px 10px;
	margin-top:10px;
}

.view-whx-yuedu .view-display-id-attachment_1 .item-list img{
	border:1px solid #CECECE;
}


.view-whx-yuedu .attachment-after .view-content{
	border-bottom:1px solid #CECECE;
}

.section-yuedu #main #content-header .title_bg h1.title{
	background:url("/sites/2u4u.com.cn/themes/stable/css/fp_images/red.gif") no-repeat scroll 0 10px transparent;
	margin-left:20px;
	padding-left:13px;
	border:0px;
}


.section-yuedu #content-area .tvi-term-desc{
	background-color:#FFFCF3;
	color:#B67C4D;
	margin-left:10px;
	padding:18px 15px 20px;
	text-indent:2em;
}

#sidebar-second #block-block-79 .content{
	border:0px;
}

.section-yuedu #content-area .view-content li.views-row-last{
	border:0px;
}

.item-list .pager li{
	border:1px solid #CECECE;
	color:#FFFFFF;
	padding:1px 5px;
	margin:0;
}

.pager-current{
	background-color:#CECECE;
}

.item-list .pager{
	margin:10px 0 20px 0;
}


.duihuan span.price{
	color:#FFFFFF;
	font-size:22px;
	font-weight:blod;
	margin-left:15px;
	line-height:40px;
}
.duihuan span.price_unit{
	color:#FFFFFF;
	margin-left:3px;
}
.ebook_top span.miaoshu{
	color:#959595;
	display:block;
	height:30px;
	margin-top:22px;
	margin-bottom:6px;
	float:left;
}
#content-area .node-inner .ebook_title_bg h1.title{
	color:#A60C0C;
	margin-top:10px;
	margin-bottom:6px;
}
#content-area .author_tags .field_yuedu_author span.field_content{
	font-size:14px;
	font-weight:bold;
}
#content-area .author_tags .ebook_terms span.field_content a{
	color:#96843E;
}

.field_yuedu_summary{
	color:#797979;
	margin-bottom:20px;
}

.author_tags .ebook_terms .field_content ul.links li{
	padding:0 0.1em;
}

span.miaoshu span.login_miaoshu a.user_login{
	color:#A60C0C;
	font-weight:bold;
	margin-left:2px;
}

#quanbu{
	font-size:14px;
	margin-top:20px;
}

#points_free a{
	background:url("images/free.gif") no-repeat scroll left center transparent;
	width:145px;
	height:42px;
	display:block;
}

#points_free{
	borderttom:10px;
	margin-bottom:10px;
}


.ebook_none_mrelate .view-yuedu-taxonomy-term .view-header{
	margin:10px 0 0 20px;
}

.ebook_none_mrelate .view-yuedu-taxonomy-term .view-content{
	margin:0 0 0 20px;
}
.ebook_none_mrelate .view-yuedu-taxonomy-term .view-content .views-row{
	width:117px;
}

.node-type-ebook #comments{
	background-color:#F2F2F2;
	border:0px;
}

.node-type-ebook .comments_title{
	margin-bottom:0px;
}

#comments .box{
	padding-top:0px;
}
html.js .resizable-textarea textarea{
	height:100px;
}

#comments ul.tips{
	display:none;
}

.node-type-ebook #comment-form #edit-submit{
	margin-left:310px;
}

.section-ebook #comments .collapsible{
	display:none;
}
#comments .comment-inner span.new{
	display:none;
}

#comments .comment{
	width:680px;
	margin:10px 0 0 20px;
}


/*---- 五星投票 -------*/
.fivestar_votes{
	position:relative;
	width:220px;
}
div.fivestar-widget-static .star {
  width: 34px;
  height: 33px;
}
div.fivestar-widget,div.fivestar-widget-static {
margin-right:50px;
}
form.fivestar-widget div.description .fivestar-summary {
	visibility:hidden;
}
.user-rating,.average-rating,.total-votes{
	visibility:visible;
	float:left;
}

.average-rating {
	color:red;
	font:bold 3em "Helvetica Neue",helvetica,Arial,sans-serif;
	position:absolute;
	left:176px;
	top:0;
}
.total-votes{
    float:right;
    margin-right:15px;
}
.front div.fivestar-widget-static {
	float:right;
}
/*-------- end 投票 ---------*/

.content .ebook_top{
	border-bottom:1px dashed #CECECE;
	margin-bottom:10px;
}

.section-ebook #comments .comment-inner .comment-title{
	background-color:#FFFFFF;
	border-top:1px solid #CECECE;
	color:#AEAEAE;
	height:30px;
	padding:6px 0 0 20px;
}

.node-type-ebook #comments .submitted{
	float:left;
	width:400px;
}
.node-type-ebook #comments .links{
	float:right;
}

/* t.2u4u.com.cn by zhao*/
.block-inner .content { padding: 0}
#content-inner{ margin-right: 320px; float: left}
#content-top .block-title-bg h3{font-size:16px; margin:0px 15px 15px 0;}
#block_yuedu_term{ background: #F4F8F9; border: 1px solid #E3E3E3;padding: 10px 0;_height:80px;}
#block_yuedu_term ul{list-style:none; overflow: auto; overflow: hidden; margin: 0; padding: 0}
#block_yuedu_term li{ float: left;padding: 3px 0;*width:100px}
#block_yuedu_term li a{padding: 2px 10px;}
#block_yuedu_term li a:hover{ color: #fff; background: #FE8103;}
#block_yuedu_term li a.active{background: #FE8103; color: #FFF}
#block_yuedu_term .book-fl ul li,#block_yuedu_term  .book-fl2 ul li{}
.tuijiantitle{ float: left; font-weight:700; font-size:16px; margin:0px 25px 15px 0;}
#huandengpian{ clear: left;}
#zhongdian{ float: right; width: 320px; *margin-top: 0}
#zhongdian .xilietush-content h3{ margin-bottom: 1em;}
#content-bottom{ margin-top: 40px;}
#content-bottom .user_name_text{ float: none;}
#content-bottom .book_img_date{top:0}
/*#content-bottom .user_created_at{bottom: 76px;}*/
#content-bottom .trends-row{ height: 125px;}
#content-bottom .user_text{}
#content-bottom a{ color: #049DA9}
#sidebar-second{ width: 280px;}
#sidebar-second .content{ overflow: auto}
#sidebar-second .block-inner .block-title-bg{background-image:none; background-color: #F7F7F7;}
#sidebar-second #block-sina_open-0 .content{ *height: 120px; position: relative; padding: 0}
#block-sina_open-0 .view-flag-bookmarks-tab{ float: left; clear: none; margin:0 10px; *display: inline;width: 100px;}
#block-sina_open-0 .content .view-display-id-block_4{ clear: left;}
#block-sina_open-0 .content .view-display-id-block_5{ *margin-top:20px; *margin-left: 50px}
#youyou_image{ float: left; margin: 20px 0 1px 10px;*margin: 20px 0 10px 10px;_display: inline;}
.create_fans,#youyou{ float: right; width: 200px;line-height:1.3em; margin-top:3px}
.create_fans a{ background:#E3FFD5;border: 1px solid #CFF3BB;cursor: pointer;display: block;height: 18px;line-height: 18px;overflow: hidden;text-align: left;width: 56px;color: #0082CB;}
.create_fans span{cursor: pointer; float: left;font-family: Arial;font-size: 17px;font-weight: bold;line-height: 18px;margin: 0 1px 0 3px;}
.create_fans a:hover{ color: #0082cb; background: #4FBE4F;text-decoration: none;}
#youyou{ margin-top: 20px; margin-bottom: 4px}
#youyou a{ color: #FE8103;font-weight: 700;}
.sina_login_link{ padding: 2px 30px; color: #fff;background:#FE8103; width: 190px; *width:188px; float: left; margin: 0 10px 10px; text-align: center}
.sina_login_link a{ color: #FFF}
#sidebar-second .block-inner #login-user .block-title-bg{ border-left: none; border-right:none;}
#block-views-whx_yuedu-block_6 ol{ margin: 10px 0;_margin:0;}
#block-views-whx_yuedu-block_6 li{line-height:2.8em;}
#sidebar-second #block-sina_open-4 .content{ padding: 20px 0}
#block-sina_open-4 .comment_book-row{ margin: 0 10px; height: 70px;}
#block-sina_open-4 .comment_book-row .user-book-content a{ color: #049DA9}
#block-sina_open-4 .comment_book-row .comment_count{background:url("images/heart.gif") no-repeat 0 3px; padding-left: 15px;}
.fans_centent .fans-row{ float: left; margin: 10px; width: 69px; height: 80px; overflow: hidden}
.user_name_text.withimg {*width:470px;}
#youyou-user{ overflow: auto}
#login-user{}
#login-user .user-image{float: left;margin: 20px 20px 1px 10px;}
#login-user #user-material{ margin-top: 20px}
#user-material a{color: #049DA9; text-decoration: underline; margin-right: 10px;}
.section-yuedu #content-area{ border-top:1px solid #CECECE!important; padding-top: 20px; }
#block-sina_open-0 .content,.sina_open_fans,.fans_centent,.fans{_overflow: auto;_zoom:1}
#content-bottom .block-title-bg{ background: #F7F7F7; border: 1px solid #E3E3E3;  position: relative}
#content-bottom .block-title-bg h3{line-height: 35px;text-indent:1em; margin: 0}
#content-bottom .block-title-bg .more{ position: absolute ;top:7px; right: 7px;}
#content-area .comment_collect .comment-tip{ color: #F10A14;font-weight:700;background: #F7F7F7; border: 1px solid #E3E3E3; line-height: 35px;text-indent:1em; float: none; margin: 10px 0;}
	/* 新导航*/
#header{ height: 40px; width: 980px; overflow: hidden; background: #FF7F07; margin: 0 auto;}
#page{ width: 980px; margin: 0 auto; background: #fff}
body{ background: #E2E2E2;}
#header-middle{*display: inline;}
#main{ width: 940px; margin-top: 16px;}
#logo-title{ width: 250px; float: left; margin-left: 10px;}
#navigation{ clear: none; width: 560px; float: right;}
#navigation ul#primary { float: none; overflow: hidden; height: 14px; overflow: hidden; margin-top: 15px;}
#navigation ul#primary li{ border-left:1px solid #FFF; margin-left: -1px;}
#navigation ul#primary li,#navigation ul#primary li a{ height: 14px; line-height: 14px; font-weight:400; color: #FFFAF9; font-size:12px;}
/* tuijian*/
#tuijian{ margin:0 5px;}
.tuijian_text{ line-height:1.4em; margin: 10px 0 6px}
.tuijian_link a{ color: #049DA9; font-style: italic;}
.sina_users{margin:0 5px;font-weight:700; color:#FE8103}
.sina_open_yuedu{ margin:0 5px;}
.yuedubenshu{ float: left;margin: 5px 20px 5px 10px;*margin: 5px 10px 5px 10px; overflow: hidden;}
/* 对单个图书阅读的页面样式*/
.node-type-ebook #content-inner{ width: 722px; margin-right: 240px;}
.node-type-ebook #sidebar-second{ width: 200px; overflow: hidden;}
.node-type-ebook #sidebar-second #youyou{ float: none; margin-bottom: 6px; width: 170px;*width: 120px;_float: left}
.node-type-ebook #sidebar-second #youyou_image{margin: 20px 20px 20px 10px;*margin: 20px 0px 20px 10px;_float: left}
.node-type-ebook #sidebar-second .create_fans{ float: none; width: 170px;*width: 120px;_float: left;}
.node-type-ebook #sidebar-second #block-sina_open-0 .view-flag-bookmarks-tab{ margin: 0 6px; width: auto}
.node-type-ebook #sidebar-second #block-sina_open-4 .comment_book-row{ height: 100px;}
.node-type-ebook #sidebar-second #block-sina_open-4 .comment_book-row .user_image{margin-bottom: 40px;}
#sidebar-second .block-inner .content, #sidebar-first .block-inner .content, .section-fanyi #main #content-area, .section-fanyituijian #main #content-area, .section-yuedu #main #content-area, .section-fenlei #main #content-area, .section-dhgps #main #content-area, .section-wenda #main #content-area, .page-libao #main #content-area{_zoom:1}
.node-type-ebook #sidebar-second .sina_login_link {width: 118px; _display: inline;_width: 110px}
/*推荐页面*/
.page-tuijian #content-inner{ width:640px;}
.page-tuijian .friTab{ _width: 100%;}
.page-tuijian .friTab ul{ list-style: none; margin: 0; margin: 0; padding: 0; overflow: auto}
.page-tuijian .friTab ul li{ float:  left ;border: 1px solid #DDD; padding: 6px 10px; border-bottom:none}
.tuijian_user{border: 1px solid #DDD; overflow: auto; margin-bottom: 10px;_zoom:1}
.tuijian_user span{ display: block; padding: 6px 0; font-weight:700;text-indent:1.1em;}
#friendList{ width: auto; height: auto; padding: 10px;}
.tuijian_user ul.pager{ list-style: none; padding: 0 20px; overflow: auto;text-align: center}
.tuijian_user ul.pager li{ float: left; margin: 8px;}
.friendList .fans-row {padding: 8px 16px 5px;}