/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/
#coin-slider{overflow: hidden;}
.coin-slider { overflow: hidden; zoom: 1; position: relative; clear:both;float:none;}
.coin-slider a{ text-decoration: none; outline: none; border: none; }
/* #coin-slider>a{display:none;} */
.cs-buttons { font-size: 0px; padding: 10px;  position:relative;/*点击buttons居中 float: left;left:50%; */float:right; top:-35px; right:15px;}
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #000; color: #B8C4CF; text-indent: -1000px; opacity:0.5;}
.cs-active { background-color: #000; color: #FFFFFF; opacity:0.5;}

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.coin-slider a.cs-prev, 
.coin-slider a.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px;}