 @charset "utf-8";


#content-top{
	background-image:url(images/images-01bg.gif);
	background-repeat: no-repeat;
	background-position:right; 
	background-color:#EBF0F4; 
	height:139px;
	border:1px solid #D0D8DF;
}

#my-answer {
	margin:10px 0 0 20px;
	font-weight:bold;
	background:url(fp_images/07.gif) no-repeat;
	text-indent:20px;
	background-position:left 3px;
}

#block-search-0 #edit-search-block-form-1{
	margin:3px 0 0 15px;
	width:250px;
	height:28px;
	border-top:2px solid #C0BFBF;
}
#block-search-0 .search-form {
	margin-bottom:0px;
}
#block-search-0 #edit-submit,#block-search-0 #edit-submit-2, #block-search-0 #edit-submit-1{
	background-image:url(images/images-01ss.gif);
	width:74px;
	height:35px;
	border:1px;
	margin:0 0 3px 5px;
	text-indent:-9000px;
}
#content-top #rule{
	float:left;
	width:100px;
	margin:22px 0 0 20px;
}

#content-top #block-search-0{
	margin-top:10px;
	margin-bottom:0;
	
}

#fanswer{
	border:1px solid #CECECE;
	margin-top:15px;

}

#my-ask{
	width:151px;
	height:41px;
	margin-left:18px;
	float:left;
	
}
.page-wenda #fanswer .view-header{
	background:url("/sites/2u4u.com.cn/themes/stable/css/fp_images/erjibg.gif") 	repeat-x scroll 0 0 transparent;
	height:40px;
}

.page-mywenda #content-area .view-header{

	background:url("/sites/2u4u.com.cn/themes/stable/css/fp_images/erjibg.gif") 	repeat-x scroll 0 0 transparent;
	height:26px;
	border-top:1px solid #CECECE;
	border-left:1px solid #CECECE;
	border-right:1px solid #CECECE;
	margin-top:15px;
	color:#961F1F;
	padding:5px 0 0 20px;
	font-weight:bold;
	font-size:14px;
}

.page-mywenda #content-area .view-content,.page-mywenda #content-area .view-empty{
	border-bottom:1px solid #CECECE;
	border-left:1px solid #CECECE;
	border-right:1px solid #CECECE;
}


.page-wenda #fanswer .view-header #fanswertitle{
	background:url("/sites/2u4u.com.cn/themes/stable/css/fp_images/red.gif") no-repeat scroll 0 8px transparent;
color:#961F1F;
font-size:14px;
font-weight:bold;
line-height:33px;
margin-left:20px;
padding-left:13px;
}

.page-wenda #fanswer .views-row{
	border-bottom:1px  dashed #CECECE;
	width:670px;
	margin:6px 0 5px 33px;
	padding-bottom:7px;
}

.page-wenda #fanswer .views-row-last{
	border-bottom:none;
}

.page-wenda #fanswer .views-row .views-field-title a{
	font-weight:bold;
	color:#515151;
}

.page-wenda #fanswer .views-row .views-field-field-best-answer-bestanswer-id-value{
	color:#696969;

}

.page-wenda #content-header ul.primary{
	border-bottom:4px solid #6A6A7A;
	margin:15px 0 0 0;
	padding:0px;
}

.page-wenda #content-area{
	border-left:1px solid #CECECE;
	border-right:1px solid #CECECE;
	border-bottom:1px solid #CECECE;
}
.page-wenda ul.primary li.active a {
	background:url(images/images-15.gif) no-repeat scroll 0 0 transparent;
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	height:30px;
	border:0px;
	width:120px;
	display:block;
	float:left;
	padding:0;
	margin:0;
}

.page-wenda ul.primary li a {
	background:url(images/images-10.gif) no-repeat scroll 0 0 transparent;
	border:0;
	width:120px;
	height:30px;
	display:block;
	float:left;
	padding:0;
	margin:0;
	font-size:14px;
	font-weight:bold;
}
.page-wenda ul.primary li a:hover{
	border:0;
	background-color:#FFFFFF;
}
.page-wenda #content-header .tab{

	display:block;
	padding:8px 0 0 20px;
}

.page-wenda thead th{
	border:0;
	
}

.page-wenda thead{
	background-color:#F2F2F2;
	height:35px;
}
.page-wenda table{
	width:100%;
}
.page-wenda tbody{
	border:0;
}
tr.even, tr.odd{
	border:0;
}

.page-wenda tbody tr.odd td, .page-wenda tbody tr.even td{
	padding:5px 3px 5px 8px;
}

tbody tr td.views-field-field-best-answer-award-value{
	padding-left:20px;
}


#content-area .views-field-title{
	width:60%;
	padding-left:20px;
}


.page-wenda #fanswer .view-content .views-field-title{
	padding:0;
	font-size:1.2em;
}



.page-wenda .views-field-field-best-answer-award-value  tbody tr.odd td{
	padding-left:10px;
}

.views-field .jifentu{
	background:url(images/qian.png) no-repeat scroll right center transparent;
	width:35px;
	margin-left:13px;
}

.item-list .pager li{
	border:1px solid #CECECE;
	color:#FFFFFF;
	margin:0;
	padding:1px 5px;

}
 
.pager-current{
	background-color:#CECECE;
}
.page-wenda #content-area .item-list{
	margin-bottom:15px;
	margin-top:15px;
}


#sidebar-second #block-views-test_answer-block_4{
	margin-top:15px;
	
}

#sidebar-second .block-inner .content{
	padding:0;
}



.view-content .views-field-name .field-content{
	margin-left:15px;
	font-size:14px;
	font-weight:bold;
}

.views-field-picture .picture{
	width:50px;
	float:left;
	margin-left:5px;
	border:1px solid #CECECE;
	margin-top:3px;
}

.views-field-signature{
	width:120px;
	float:right;
	line-height:17px;	

}
.views-field-nothing .field-content a{
	clear:both;
	background:url(images/tozhuanjia.gif) no-repeat scroll center transparent;
	font-size:1px;
	width:108px;
	height:31px;
	padding-top:10px;
	display:block;
	color:#EFB000;
text-decoration:none;
	margin-left:50px;
}





.page-node-63611 #content-area #node-63611 .node-inner{
	background-color:#EFEFEF;
	padding:20px 15px 20px 20px;
	margin-top:15px;
}

.page-node-63611 pre{
	border:0;
	font-size:14px;
	line-height:16px;
	margin:0px;
	padding:0px;
}
.page-node-63611 h4{
	font-size:14px;
}
.page-node-63611 h3{
	display:none;
}
.page-node-add-best-answer #content-area, .page-node-add-best-answer-expert #content-area{
	background-color:#EFEFEF;
	padding:5px 0 20px 20px;
	margin-top:15px;
}


.page-node-63611 .title_bg h1{
	display:none;
}


.page-mywenda .views-table{
	width:94%;
	margin-left:20px;
}

.page-mywenda .views-table thead th{
	border-bottom:0px;
	font-size:1em;
}


.page-node-add-best-answer #content .title_bg h1{
	display:none;
}

.page-node-add-best-answer #content-area .teaser-checkbox{
	display:none;
}


.page-node-add-best-answer #content-area .tips, .page-node-add-best-answer-expert #content-area .tips{
	display:none;
}

#edit-field-best-answer-bestanswer-id-0-value-wrapper{
	display:none;
}

#edit-preview{
	display:none;
}

.page-node-add-best-answer .node-form #edit-submit, .page-node-add-best-answer-expert .node-form #edit-submit, .section-node-add .node-form #edit-submit{
	background-image:url(images/tijiaowenti.gif);
	border:0 none;
	cursor:pointer;
	font-size:0;
	height:39px;
	/* text-indent:-5000px; */
	width:90px;
	margin:10px 0 20px 300px;
	clear:both;
}
.section-search #content-header{
	display:none;
}

.section-search #content-area #search-form{
	display:none;
}


.section-search #content-area .box{
	border:1px solid #CECECE;
	margin-top:15px;

}

.section-search #content-area .box h2{
background:url("/sites/2u4u.com.cn/themes/stable/css/fp_images/erjibg.gif") repeat-x scroll 0 0 transparent;
	height:36px;
	font-size:14px;
	color:#961F1F;
	padding:5px 0 0 20px;

}
.page-node-add-best-answer .description{
	font-size:12px;
}


.section-node #content-area .submitted, .form-item .best_answer_submitted .form-item, .view-content .node-inner .submitted.clear, #content-inner #content-area .node-inner span.submitted{
	color:#969696;
	padding-left:20px;
	

}


.field-field-best-answer-bestanswer-id{
	display:none;
}

.section-node #content-area .taxonomy, .page-node #content-area .taxonomy{
	margin-right:15px;
	color:#969696;
	float:right;
}

.section-node #content-bottom .block-inner{
	border:1px solid #CECECE;
	margin-top:10px;
}
#edit-search-block-form-1-wrapper label{
display:none;
}
#block-views-test_answer-block_4 .views-field-picture{
	width:80px;
	float:left;
}
thead th.views-field-name, thead th.views-field-timestamp{
    	padding-left:18px;
}

.item-list li.pager-ellipsis {
	border:0px;
	color:#000000;
}

.view-test-answer .views-table th .active {
	background:url("images/xulie.gif") no-repeat scroll right center transparent;
	display:block;
	width:63px;
	padding-left:10px;
	text-decoration:none;
}
.view-test-answer .views-table a.active img {
	background-color:#f2f2f2;
}

.node-inner .title_links{
	background:#EFEFEF;
	padding-left:20px;
	border-left:1px solid #CECECE;
	border-right:1px solid #CECECE;
}


.page-node-add-best-answer-expert .title_bg h1.title{
	display:none;
}

.page-node-add-best-answer .body-field-wrapper p, .page-node-add-best-answer-expert .body-field-wrapper p{
	display:none;
}
#content-inner #content-header h1.title{
	color:#961F1F;
	padding:0 0 0 40px;
}

#content-inner #content-area .node-inner .best_answer{
	display:none;
}

#content-inner #content-area .node-inner{
	border:1px solid #CECECE;
	margin-top:15px;
}
#content-inner #content-area .node-inner .title_bg h1.title{
	background:#EFEFEF;
	padding:10px 20px;
	margin-bottom:5px;
}

#content-inner #content-area .node-inner .content.clear p{
	font-size:14px;
	margin-top:10px;
}

#content-inner #content-area .node-inner .field-item.odd{
	background:url("images/qian.png") no-repeat scroll left center transparent;
	background-position:78px 2px;
}

li.comment_add a{
	background:url("images/huifu.gif") no-repeat;
	height:22px;
	display:block;
	text-decoration:none;
	margin:10px 0 10px 20px;
	color:#816700;
	font-weight:bold;
	padding:3px 0 0 13px;
	font-size:14px;
	width:42px;
}
#content-inner #content-area .node-inner ul.links.inline li{
	padding:0px;
}

#content-inner #content-area .best_answer{
	border:1px solid #CECECE;
	margin-top:23px;
}
.node_bestanswer .form-item{
	padding:0px;
	margin:0px;
}

.node_bestanswer .form-item label{
	background:url("images/good.gif") no-repeat scroll 16px center #FCEFEF;
	height:30px;
	line-height:33px;
	text-indent:38px;
	color:#961F1F;
	font-size:14px;
	margin-bottom:8px;
}

.best_answer .form-item .best_answer_body .form-item, .view-content .node-inner .content.clear{
	margin:10px 10px 10px 20px;
	font-size:14px;
}


#content-bottom .block-inner .content .view-header{
	background-color:#E7E7E7;
	height:28px;
	padding:5px 0 0 20px;
	font-weight:bold;
	font-size:14px;
}

.block-inner .content .view-content .node-inner{
	background-color:#F8F8F8;
	margin:8px 0 0;
}

.node-inner .links li.comment_reply{
	background:url("images/huifuhuida.gif") no-repeat scroll ;
	width:50px;
	height:23px;
	display:block;
}

#content-inner #content-header .title_bg h1.title{
	padding-left:20px;
	height:30px;
}

#main #content-inner #content-area{
	padding:0px;
}

#content-area .view-content .views-table{
	width:100%;
	background-color:#F2F2F2;
}

.page-mywenda #content-area .view-content .views-table{
	width:100%;
	background-color:#FFFFFF;
}



#main #content #content-inner #content-area .view-content .views-table tbody{
	border-top:0 none;
}

#content-area .view-content .views-table thead th{
	border-bottom:0 none;
}

tbody tr.odd td.views-field-title, tbody tr.even td.views-field-title{
	padding:3px 3px 3px 20px;
}

thead th.views-field-title{
	padding:3px 3px 3px 20px;
	font-size:12px;
}
tbody tr.odd td, tbody tr.even td{
	padding:3px 3px 3px 8px;
}
td.active{
	background-color:#FFFFFF;
}

#content-area .view-content .views-table .views-field.views-field-created{
	width:80px;
}
#content-area .view-content .views-table thead th.views-field-field-best-answer-award-value, #content-area .view-content .views-table th.views-field.views-field-created{
	background:url("images/paixu-bg.gif") no-repeat scroll 2px 6px #F2F2F2;
}


#content-area .view-content th.views-field-nid{
	padding:0 0 0 9px;
}

#content-area .view-content td.views-field-nid{
	padding-left:25px;
}

#content-inner #content-area .views-table{
	margin-left:0px;
}


#content-area .view-content thead th.views-field{
	background-color:#F2F2F2;
	margin:0px;
	height:32px;
}

.page-mywenda .view-content .views-field-teaser{
	padding-left:20px;
	width:82%;
}


.page-mywenda .view-content .views-table thead th.views-field-timestamp{
	padding-left:30px;
}

.section-search .box .search-results{
	padding:0 20px 5px 10px;
}

.section-search .search-results dd{
	border-bottom:1px dashed #CECECE;
}

.section-search .search-results dd.search-result-10-snippet{
	border-bottom:none;
	margin-bottom:2.5em;
}

.search-results .search-info{
	font-size:12px;
	color:#848484;
}
.section-search #content-area .search-results dt.title a{
	color:#961F1F;
}

.page-node #content-inner .node-form .standard{
	padding:5px 0 0 20px;
}



#content-inner #content-bottom .block-inner .content{
	padding:0px;
}



.node-inner .links .block ul{
	padding:0px;
}

.page-search #content-inner #content-area .content{
	padding-bottom:10px;
	padding-left:10px;
}
.node-type-best-answer #content-inner #content-area .content, .section-node-add #content-inner #content-area .content{
	padding-left:20px;
}
.page-node #content-bottom .node-inner h2.title{
	display:none;
}
.block-inner .content .node-inner .links ul{
	padding:0px;
	
}
.block-inner .content .node-inner .clear{
	padding-left:19px;
	padding-bottom:10px;
}

#content-inner #content-header .title_bg h1.title{
	display:none;
}
#node-form .node-form .teaser-button-wrapper{
	display:none;
}

.section-node-add #content-inner .node-form .standard{
	padding:0px;
}
.section-node-add #content-inner .node-form .resizable-textarea{
	width:720px;
}
.page-node-add-best-answer #content-inner .node-form .standard{
	padding:5px 20px 10px 20px;
}
.page-node-add-best-answer #content-inner .node-form #edit-title{
	width:100%;
}
.page-node-add-best-answer #content-inner .node-form #edit-body, .section-node-add .resizable-textarea #edit-body{
	width:95%;
}

.section-node-add #content-inner .node-inner .links{
	display:none;
}

.block-inner .content .view-content .indented{
	margin:0px;
	padding:0px 0 0px 20px;
	border-top:1px dashed #DDDDDD;
	background-color:#F8F8F8;
}
/*.indented{
	background-color:#F8F8F8;
	margin:0px;
}*/
.node-type-best-answer #content-inner .content .view-content{
	margin-left:10px;
	margin-right:10px;
}
.section-node-add .node-form .tips, .body-field-wrapper p{
	display:none;
}