/* $Id: video.css,v 1.1.2.4 2010/05/26 21:08:12 iLLin Exp $ */

.filefield-element .filefield-file-info, .video_thumbnail {
  min-width: 100px;
  min-height: 100px;
}

.filefield-element .imagefield-preview {
  min-width: 100px;
  min-height: 100px;
}

.filefield-element .imagefield-text {
  max-width: 40em; /* Reflect the maxlength of the ALT attribute (80 characters). */
}

.filefield-element .uploadfield-text {
  max-width: 40em;
}

.video_thumbnail {
  min-width: 100px;
  min-height: 100px;
}

.uploadfield {

}

.uploadfield-nodelink {
  
}

.uploadfield-video-thumb {
  
}

.uploadfield-video-thumb img{
  width : 250px;
/*  min-width: 100px; */
  min-height: 210px;

}

.uploadfield-video-thumb span{
    /* This is the overlay image for use as a play button. */
  background: url(../images/play.png) no-repeat;

  /* This is the size of our button. DOES NOT WORK WITH DEFAULT THUMB SIZE! */
  width: 50px;
  height: 112px;
  position : absolute;
  margin : 65px 100px;
}

.uploadfield-video-thumb span:hover {
  background-position: -50px 0px;
}

.video-width-text {
  width:10px;
}

.video-thumb-selection{
  
}

.video-thumb-selection .form-item {
  
}

.video-thumbnails{
/*  display : block;*/
}
.video-thumbnails .form-item{
  float:left;
  margin-right:10px;
  max-width:30%;
  padding-right:10px;
}

.video-bypass-auto-conversion{

}
.video-default-thumbnail{
  
}

.video-data{
  
}

.video_image_teaser {
  float: left;
  padding: 0.5em;
}

br.video_image_clear {
  clear: both;
}

.video_image_view {
  /* inser here rules for node page image */
}

.video-ffmpeg-helper-inprogress {
  border: 1px solid red;
  padding: .5em;
}

/* override filefield entry */
.widget-edit{
  max-width:70%;
}

.widget-edit .form-item { white-space: normal !important; }

.admin_flv_player_wrapper { display: none; }
/*
 * VIDEO OJBECT FIXES CROSS BROWSER
 */
* html object.video-object {
	display: none;
}

* html object.video-object/**/ {
	display: inline;
}

* html object.video-object {
	display/**/: none;
}
 
 