/* $Id: quiz_stats.css,v 1.1.2.1 2009/10/29 10:03:50 falcon Exp $ */

/*
 * @file
 * CSS file for quiz stats
 */

.quiz-stats-chart-space {
  margin-bottom:3px;
}

.quiz-charts-title {
  margin-top: 30px;
  margin-bottom: 10px;
}