@charset "utf-8"; /* CSS Document */

/* -----------------------------quiz 开始-------------------------- */
/* quiz view的整体字体颜色 */
.view-whx-quiz {
color:#333333;
}
/* 首页图片与小题两栏 排列*/
.view-whx-quiz .attachment-before .view-whx-quiz{
clear:none;
}
.view-whx-quiz .attachment-before .view-content{
float:left;
height:374px;
overflow:hidden;
position:relative;
width:275px;
clear:none;
margin-bottom:40px;
}
.view-whx-quiz  .view-display-id-attachment_1 .view-content,.view-whx-quiz  .view-display-id-attachment_3 .view-content,.view-whx-quiz  .view-display-id-attachment_5 .view-content{
background:none repeat scroll 0 0 #FFF7F7;
margin-right:10px;
}
/* 标题与连接、摘要、点击率的颜色、大小 *.view-whx-quiz .view-header  a  ,
.view-whx-quiz .view-header a:visited,
.view-whx-quiz .views-field-title  a  ,
.view-whx-quiz .views-field-title  a:visited{
font-weight:normal;
}/

.view-whx-quiz .view-header h1{
padding-bottom:0px;
}
h1 span {
color:#666666;
font-size:12px;
font-weight:400;
margin-left:10px;
}
/*
.view-whx-quiz .views-row{
margin-bottom:20px;
clear:both;
}
*/
.view-whx-quiz  .attachment-before .views-field-teaser {
min-height:60px;
overflow:hidden;
}
.view-whx-quiz .views-field-totalcount {
color:#999999;
float:right;
margin-top:-22px;
}
/* 分类显示区块 */
.section-quiz .attachment-before .view-content{
background:none repeat scroll 0 0 #FFF7F7;
float:none;
clear:both;
width:700px;
height:275px;
margin-bottom:20px;
}
/* 内容中的小图 */
.section-quiz .view-whx-quiz .views-field-field-quiz-tuijian-pic-fid {
float:right;
margin:0 0 20px 10px;
}
/* 分类推荐图 */
.section-quiz .attachment-before .views-field-field-quiz-tuijian-pic-fid{
float:left;
padding-right:10px;
margin:0px;
}
.section-quiz .attachment-before .views-field-teaser{
height:250px;
}
/* quiz 结束 */

.sidebar-right .center{
	margin-right:235px;
}

.view-whx-quiz .view-header h1{
	background: url(fp_images/erjibg.gif) repeat-x;
	width:100%;
	height:38px;
	clear:left;
}



.view-whx-quiz .view-display-id-attachment_2 .view-content, .view-whx-quiz .view-display-id-attachment_4 .view-content, .view-whx-quiz .view-display-id-attachment_6 .view-content{
	width:380px;
}

.view-whx-quiz .view-header a, .view-whx-quiz .view-header a:visited{
	background:url("fp_images/red.gif") no-repeat scroll left center transparent;
	color:#961F1F;
	font-size:14px;
	font-weight:bold;
	line-height:33px;
	margin-left:20px;
	padding-left:13px;
}
#block-block-53 .view-content .views-row{
	padding:2px 0px;
	height:25px;
}

#block-block-53 .view-content .views-row-odd{
	float:left;
}
#block-block-53 .view-content .views-row a{
	padding:0px 8px;
}
#block-block-53 .block-inner .view-content{
	padding:8px 8px 0 16px;
	 width:200px; 
	/**/
	display:block;
}

#block-block-53 .view-id-quiz_taxonomy .view-header{
	background-image:none;
	height:20px;
}


/* quiz 答题选项的css */
#quiz-question-answering-form  .form-radios tbody  td.selector-td {
width:20px;
}
#quiz-question-answering-form  .form-radios tbody  td.selector-td .form-item{
height:13px;
}
#quiz-question-answering-form  .form-item  tbody  td p{
margin:5px 0;
}

/* right bar右边栏边框没有全部包括的问题 不是最好解决方案*/
#sidebar-second  #block-block-53 .block-inner .content {
height:320px;
}
/* 影藏对quiz题目通过率等的说明文字 */
#quiz-view-table {
display:none;
}


#block-block-79 .block-inner  .content{
	border:0px;
	padding:0;
}


/* -----------------------------测试首页xu-------------------------- */
.zdtj_kuang {
	background-image:url("http://video.2u4u.com.cn/sites/video.2u4u.com.cn/themes/video/css/shipin_images/images-07.gif");
	height:23px;
	margin-bottom:15px;
	width:329px;
	margin-top:8px;	
}

.zdtj_background_title{
 	background: url(http://ebook.2u4u.com.cn/sites/ebook.2u4u.com.cn/themes/ebook/css/images/images-19.gif) no-repeat scroll left center transparent;
    	font-size: 14px;
    	font-weight: bold;
    	line-height: 20px;
	padding-left:20px;
}

.zdtj_title h3{
	font-size:14px;
}
.zdtj_fenlei{
	float:left;
}
.zdtj_fenlei a{
	color:#666666;
}
.zdtj_more{
	float:left;
	height:50px;
	color:#8A8A8A;
}
.zdtj_top .zdtj_top_content, .zdtj_middle .zdtj_middle_content{
	width:350px;
	height:40px;
	border-bottom:1px dashed #CECECE;
	margin-bottom:20px;
}
.zdtj_fenlei{
	padding-right:10px;
}

.view-quiz-taxonomy{
	float:left;
}
.views-row{
	float:left;
}
.csfl{
	border-left:1px solid #CECECE;
	border-right:1px solid #CECECE;
	border-bottom:1px solid #CECECE;
	width:218px;
	height:340px;
}
.csfl .view-display-id-block_1 .view-header{
	background-image:url("fp_images/gracy-right-bg.gif");
	background-repeat:repeat-x;
	color:#961F1F;
	height:33px;
	width:208px;
	padding-left:10px;
	padding-top:6px;
}
.zdtj{
	height:310px;
	width:370px;
}

.csfl .view-display-id-block_1 .view-content{
	margin:0 10px 0 10px;
}
.csfl .view-display-id-block_1 .view-content h3{
	clear:both;
	margin-bottom:5px;
}
.csfl .view-display-id-block_1 .view-content .views-row-last{
	padding-bottom:15px;
}
.csfl .view-footer,
#block-views-quiz_term_name-block_1 .view-footer{
	clear:both;
	margin-left:10px;
}
#block-views-quiz_term_name-block_1 .view-footer .tuijian_new , .csfl .view-footer .tuijian_new ,#block-views-quiz_term_name-block_1 .view-footer .tuijian_new1 , .csfl .view-footer .tuijian_new1 {
	font-weight:bold;
	padding-left:30px;
	
	 background-repeat: no-repeat;
	background-position:0 4px;
}
#block-views-quiz_term_name-block_1 .view-footer .tuijian_new , .csfl .view-footer .tuijian_new {
	background-image:url("images/new.gif");
}
#block-views-quiz_term_name-block_1 .view-footer .tuijian_new1 , .csfl .view-footer .tuijian_new1 {
	background-image:url("images/new1.gif");
}
#block-views-quiz_term_name-block_1 .view-footer .tuijian_new font, .csfl .view-footer .tuijian_new font
{
	color:#df7300;
}
#block-views-quiz_term_name-block_1 .view-footer .tuijian_new1 font, .csfl .view-footer .tuijian_new1 font
{
	color:red;
}
/*
.csfl .view-footer,
#block-views-quiz_term_name-block_1 .view-footer{
	clear:both;
	margin-left:10px;
	font-weight:bold;
	background-image:url("images/new.gif");
	 background-repeat: no-repeat;
	background-position:0 4px;
	padding-left:30px;
}*/
.view-content .shuang{
	margin-left:5px;
	margin-right:5px;
}

.view-content .views-row-last .shuang{
	 color: #FFFFFF;
}
.csfl .field-content a:hover{
	background-color:#970606;
	color:#FFFFFF;
}
.csfl .field-content a:active{
	background-color:#970606;
	color:#FFFFFF;
}

.view-display-id-block_1 .view-content h3{
	clear:both;
	margin-bottom:5px;

}
.view-display-id-block_1 .view-content{
	margin:0 10px 0 10px;
}

.zuo .view-display-id-block_1 .view-content{
	margin:0px;
}
.zuo .item-list ul{
	padding:0px;
}

.view-display-id-block_1 .field-content a:hover{
	text-decoration:underline;
}

.view-display-id-block_1 .field-content a:active{
	background-color:#970606;
	color:#FFFFFF;
}


.zxtk .zxtk_kuang{
    background-image: url("fp_images/erjibg.gif");
    background-repeat: repeat-x;
    height: 38px;
    width:720px;
}


.zxtk .zxtk_kuang .zxtk_title{
 background: url("fp_images/red.gif") no-repeat scroll left center transparent;
    color: #961F1F;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 33px;
    margin-left: 20px;
    padding-left: 13px;
}
.zxtk .dy4 .dxyy_lv4_title{
	background:url("images/image_01.gif") no-repeat;
	width:207px;
	height:36px;
	margin-left:10px;
}
.zxtk .dy6 .dxyy_lv6_title{
	background:url("images/image_02.gif") no-repeat;
	width:207px;
	height:36px;
	margin-left:10px;
}
.zxtk .zy4 .zy_pf4_title{
	background:url("images/image_03.gif") no-repeat;
	width:207px;
	height:36px;
	margin-left:10px;
}
.zxtk .zy8 .zy_pf8_title{
	background:url("images/image_05.gif") no-repeat;
	width:207px;
	height:38px;
	margin-left:10px;
	margin-top:20px;
}

.zxtk .gyyy .yingyong_title{
	background:url("images/image_04.gif") no-repeat;
	width:207px;
	height:74px;
	margin-left:13px;
	margin-top:8px;
}

.zxtk .pets .quanguo_title{
	background:url("images/image_06.gif") no-repeat;
	width:207px;
	height:38px;
	margin-left:10px;
	margin-top:20px;
}
ul{
	list-style-type:none;
}
.dxyy_lv6_content ul,
.zy_pf4_content ul,
.dxyy_lv4_content ul,
.zy8 .zy_pf8_content ul,
.gyyy .yingyong_content ul,
.pets .quanguo_content ul{
	padding:10px 0 0 15px;
	line-height:25px;
	overflow:hidden;
}
.dxyy_lv6_content ul li a, .zy_pf4_content ul li a, .dxyy_lv4_content ul li a{
	color:#575757;
	white-space: nowrap;
}
.zy8 .zy_pf8_content ul li a, .gyyy .yingyong_content ul li a, .pets .quanguo_content ul li a{
	color:#575757;
	white-space: nowrap;
}


.dxyy_lv6_more a, .zy_pf4_more a, .dxyy_lv4_more a, .quanguo_more a{
	float:right;
	color:#575757;
	margin-right:10px;
}

.zy8 .zy_pf8_more a{
	float:right;
	color:#575757;
	margin-right:10px;
}


.dy4, .dy6{
	height:200px;
}
.zy4{
	height:200px;
}

.view-display-id-block_1 a.active{
background-color:#870606;
	color:#FFFFFF;	
}



/* -----------------------------专趣味测试 开始-------------------------- */
.qwcs .qwcs_kuang{
    
    background-image: url("fp_images/erjibg.gif");
    background-repeat: repeat-x;
    height: 38px;
    width:720px;
}

.qwcs .ol,li{
	margin:0px;
	padding:0px;
	list-style-type:none;
}


.qwcs .qwcs_kuang .qwcs_title{
    background: url("fp_images/red.gif") no-repeat scroll left center transparent;
    color: #961F1F;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 33px;
    margin-left: 20px;
    padding-left: 13px;
}

.qwcsphb .view-content {
	margin:0 10px 0 30px;
}


.yscb .yscb_more a{
        float:right;
	color:#575757;
	margin-right:10px;
	
}


.xgzb .xgzb_more a{
        float:right;
	color:#575757;
	margin-right:10px;	
	
}

.xlzd .xlzd_more a{
	float:right;
	color:#575757;
	margin-right:10px;
}

.lazn .lazn_more a{
	float:right;
	color:#575757;
	margin-right:10px;	
}

.zcpc .zcpc_more a{
	float:right;
	color:#575757;
	margin-right:10px;	
}

.shcf .shcf_more a{
	float:right;
	color:#575757;
	margin-right:10px;		
}

.xzys .xzys_more a{
	float:right;
	color:#575757;
	margin-right:10px;		
}

.sspw .sspw_more a{
	float:right;
	color:#575757;
	margin-right:10px;
	
}

.jktj .jktj_more a{
	float:right;
	color:#575757;
	margin-right:10px;	
	
}



ul.quicktabs_tabs.quicktabs-style-zen{
	width:750px;
	float:right;
	height:35px;
	background-image:url("http://2u4u.com.cn/sites/2u4u.com.cn/themes/stable/css/fp_images/bg-7.gif");
	background-repeat:repeat-x;
	margin:0px;
	
}
.zxlx .pane-35{
	width:200px;
	float:left;
}


ul.quicktabs_tabs.quicktabs-style-zen li.active a, ul.quicktabs_tabs.quicktabs-style-zen li.active a:hover{
	height:24px;
	font-size:14px;
	color:#990000;
}

ul.quicktabs_tabs.quicktabs-style-zen li{
	margin:10px 0 0 3px;
	height:27px;
}
ul.quicktabs_tabs.quicktabs-style-zen li a{
	height:23px;
}
.swyy_kuang, .kjyy_kuang, .gqwh_kuang, .tyyy_kuang, .yyxzs_kuang{
	background-image:url("images/yuan-bg.gif");
	width:212px;
	height:40px;
	background-position:0 7px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.lunbo{
	height:330px;
}
.dxyy_lv4_content ul li, .dxyy_lv6_content ul li, .zy_pf4_content ul li, .zy_pf8_content ul li, .yingyong_content ul li, .quanguo_content ul li{
	width:200px;
	height:25px;
	line-height:25px;
	overflow:hidden;
}

.dfphb_kuang{
	background:url("images/video_titleall.jpg") repeat-x;
	margin-top:-1px;
	/*height:35px;*/
	height:37px;
}
.dfphb_title{
	background:url("images/icon.gif") no-repeat scroll 8px 7px transparent;
	height:35px;
	line-height:33px;
	padding-left:28px;
	color:#961F1F;
}
table{
	border-collapse:separate;
}
tbody td{
	text-align:right;
}
tbody th.user_name{
	padding:0px;
	width:65px;
}
.block-egscontent  .block-inner .content {
    padding: 3px;
}
tbody th.user_score{
	padding:0px;
}
tbody th.user_rate{
	padding:0px;
	text-align:right;
}
td.user_name{
	text-align:left;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	width:60px;
}
tbody td.user_score{
	text-align:center;
}
tbody td.noresult{
	text-align:center;
}
.swyy_title, .kjyy_title, .gqwh_title, .tyyy_title, .yyxzs_title{
	font-size:14px;
	font-weight:bold;
}
.tyyy{
	margin-top:10px;
}
.ztcs .item-list ul li{
	line-height:24px;
	width:200px;
	margin-left:28px;

}
.ztcs .item-list ul li a{
		color:#484848;
}

.item-list ul{
	margin:0px;
}
.swyy, .gqwh, .kjyy, .tyyy, .kongde{
	border:0px;
}
.ztcs{
	height:420px;
}
.yscb_kuang, .xgzb_kuang, .xlzd_kuang, .lazn_kuang, .zcpc_kuang, .shcf_kuang, .xzys_kuang, .jktj_kuang, .sspw_kuang{
	background-image:url("images/yuan-bg.gif");
	width:212px;
	height:40px;
	background-position:0 7px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.yscb_title{
	font-size:14px;
	font-weight:bold;
	color:#9b0404;
	background:url("images/head-01.gif") no-repeat;
	padding-left:20px;
}
.qwcs .item-list ul li{
	line-height:24px;
	width:190px;
        margin-left:25px;
}
.xgzb_title{
	font-size:14px;
	font-weight:bold;
	color:#f47e00;
	background:url("images/head-02.gif") no-repeat;
	padding-left:20px;
}
.views-field-title{
	font-size:12px;
}

.xlzd_title{
	font-size:14px;
	font-weight:bold;
	color:#d1106b;
	background:url("images/head-03.gif") no-repeat;
	padding-left:20px;
}

.lazn_title{
	font-size:14px;
	font-weight:bold;
	color:#168707;
	background:url("images/head-04.gif") no-repeat;
	padding-left:20px;
}

.zcpc_title{
	font-size:14px;
	font-weight:bold;
	color:#b29b00;
	background:url("images/head-05.gif") no-repeat;
	padding-left:20px;
}

.shcf_title{
	font-size:14px;
	font-weight:bold;
	color:#0060b2;
	background:url("images/head-06.gif") no-repeat;
	padding-left:20px;
}
.xzys_title{
	font-size:14px;
	font-weight:bold;
	color:#8b00b3;
	background:url("images/head-07.gif") no-repeat;
	padding-left:20px;
}
.jktj_title{
	font-size:14px;
	font-weight:bold;
	color:#0cadd0;
	background:url("images/head-08.gif") no-repeat;
	padding-left:20px;
}

.sspw_title{
	font-size:14px;
	font-weight:bold;
	color:#00c88a;
	background:url("images/head-09.gif") no-repeat;
	padding-left:20px;
}



.yscb, .xgzb, .xlzd, .lazn, .zcpc, .shcf, .jktj, .sspw{
	border:0px
}
.block-title-bg, .qwcsphb_title{
	background:url("http://ebook.2u4u.com.cn/sites/ebook.2u4u.com.cn/themes/ebook/css/images/paihangbang.gif") no-repeat;
	height:33px;
	text-indent:30px;
	line-height:33px;
}

.qwcsphb{
	font-size:12px;
}

.ztcsphb{
	height:420px;
	font-size:12px;
}

.ztcsphb .item-list ol li, .qwcsphb .item-list ol li{
	line-height:37px;
	margin:0px;
	border-bottom:1px dashed #CECECE;
	width:170px;
}

.ztcsphb .item-list .views-row-last, .qwcsphb .item-list .views-row-last{
	border-bottom:none;
}

.ztcsphb .item-list, {
	padding-top:10px;
	border-right:0px;
	margin-left:5px;
}

.ztcsphb .views-row-first a, .qwcsphb .views-row-first a{
	color:#990000;
	font-weight:bold;
}
.ztcsphb .views-row-first, .qwcsphb .views-row-first{
	color:#990000;
	font-weight:bold;
}

#sidebar-second .block-inner .content, #sidebar-first .block-inner .content{
	padding:0px;
}

#sidebar-second h3.title{
	padding-left:10px;
}

#sidebar-second .block-inner .view-content, #sidebar-first .block-inner .view-content{
	padding:5px 0 0 0;
}


/*考试日历全部*/
/*.kuang {
	width: 218px;
	margin-top: 5px;
} */
.no-topright {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}

.border-bottom {
        border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}	

.border-right {
	border-right-width: 1px;
	border-right-style: dotted;
        border-right-color: #CCCCCC;
}

.bottom {
	background-image: url("fp_images/ksrl-bottom.gif");
	height: 22px;
	width: 64px;
	border: 0px;
}

ul.quicktabs_tabs.quicktabs-style-navlist li a{
	background-image:url("images/bottomqh1.gif");
	height:30px;
	line-height:28px;
	text-indent:6px;
	display:block;
	width:47px;
	text-align:center;
	padding-right: 0;
}
ul.quicktabs_tabs.quicktabs-style-navlist li.active a{
	background-image:url("images/bottomqh2.gif");
	width:48px;
	height:27px;
	margin-bottom:3px;
	color:#961F1F;
	padding-right: 1px;
}

ul.quicktabs_tabs.quicktabs-style-navlist li.active{
	border-top:0px;
	border-bottom:0px;
}

ul.quicktabs_tabs.quicktabs-style-navlist {
    margin-left: 4px;
    padding: 0;
    width: 44px;
	float:left;
}
.quicktabs_main.quicktabs-style-navlist{
	background-color:#efefef;
	width:160px;
	margin-left:4px;
	border:1px solid #c7c3c3;
	height:190px;
	padding:0px;
	float:left;
}
ul.quicktabs_tabs li{
	padding:0px;
}
ul.quicktabs_tabs.quicktabs-style-zen li.active a, ul.quicktabs_tabs.quicktabs-style-zen li.active a:hover{
	height:24px;
	font-size:14px;
	color:#990000;
}

ul.quicktabs_tabs.quicktabs-style-zen li{
	margin:10px 0 0 3px;
	height:27px;
}
ul.quicktabs_tabs.quicktabs-style-zen li a{
	height:23px;
}

 


/*趣味测试分类页面*/
.yscb_fenlei_kuang,
.xlzd_fenlei_kuang,
.xgzb_fenlei_kuang,
.lazn_fenlei_kuang,
.shcf_fenlei_kuang,
.zccp_fenlei_kuang,
.xzys_fenlei_kuang,
.sspw_fenlei_kuang,
.jktj_fenlei_kuang{
	background:url("http://ebook.2u4u.com.cn/sites/ebook.2u4u.com.cn/themes/ebook/css/fp_images/erjibg.gif") repeat-x;
	height:46px;
}

.yscb_fenlei_title,
.xlzd_fenlei_title,
.xgzb_fenlei_title,
.lazn_fenlei_title,
.shcf_fenlei_title,
.zccp_fenlei_title,
.xzys_fenlei_title,
.sspw_fenlei_title,
.jktj_fenlei_title{
	background:url("http://ebook.2u4u.com.cn/sites/ebook.2u4u.com.cn/themes/ebook/css/fp_images/red.gif") no-repeat;
	color:#850000;
}
.yscb_fenlei .pane-new-quiz,
.xlzd_fenlei .pane-new-quiz,
.xgzb_fenlei .pane-new-quiz,
.lazn_fenlei .pane-new-quiz,
.shcf_fenlei .pane-new-quiz,
.zccp_fenlei .pane-new-quiz,
.xzys_fenlei .pane-new-quiz,
.sspw_fenlei .pane-new-quiz,
.jktj_fenlei .pane-new-quiz{
	float:left;

}
.yscb_fenlei .view-display-id-page_2,
.xlzd_fenlei .view-display-id-page_2,
.xgzb_fenlei .view-display-id-page_2,
.lazn_fenlei .view-display-id-page_2,
.shcf_fenlei .view-display-id-page_2,
.zccp_fenlei .view-display-id-page_2,
.xzys_fenlei .view-display-id-page_2,
.sspw_fenlei .view-display-id-page_2,
.jktj_fenlei .view-display-id-page_2{
	width:250px;
	background-color:#fdfbf3;
	height:310px;
}

.yscb_fenlei .view-display-id-page_3,
.xlzd_fenlei .view-display-id-page_3,
.xgzb_fenlei .view-display-id-page_3,
.lazn_fenlei .view-display-id-page_3,
.shcf_fenlei .view-display-id-page_3,
.zccp_fenlei .view-display-id-page_3,
.xzys_fenlei .view-display-id-page_3,
.sspw_fenlei .view-display-id-page_3,
.jktj_fenlei .view-display-id-page_3{
	width:370px;
	margin-left:30px;
}
.yscb_fenlei .view-display-id-page_2 .field-content img,
.xlzd_fenlei .view-display-id-page_2 .field-content img,
.xgzb_fenlei .view-display-id-page_2 .field-content img,
.lazn_fenlei .view-display-id-page_2 .field-content img,
.shcf_fenlei .view-display-id-page_2 .field-content img,
.zccp_fenlei .view-display-id-page_2 .field-content img,
.xzys_fenlei .view-display-id-page_2 .field-content img,
.tyyy_fenlei .view-display-id-page_2 .field-content img,
.sspw_fenlei .view-display-id-page_2 .field-content img,
.jktj_fenlei .view-display-id-page_2 .field-content img{
	margin:10px 0 0 30px;
	width:190px;
	height:190px;
}
.yscb_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.xlzd_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.xgzb_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.lazn_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.shcf_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.zccp_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.xzys_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.sspw_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.jktj_fenlei .view-display-id-page_2 .views-field-teaser .field-content{
	width:190px;
	display:block;
	margin-left:35px;
	color:#666666;
}
.yscb_fenlei .view-display-id-page_2 .views-field-totalcount,
.xlzd_fenlei .view-display-id-page_2 .views-field-totalcount,
.xgzb_fenlei .view-display-id-page_2 .views-field-totalcount,
.lazn_fenlei .view-display-id-page_2 .views-field-totalcount,
.shcf_fenlei .view-display-id-page_2 .views-field-totalcount,
.zccp_fenlei .view-display-id-page_2 .views-field-totalcount,
.xzys_fenlei .view-display-id-page_2 .views-field-totalcount,
.sspw_fenlei .view-display-id-page_2 .views-field-totalcount,
.jktj_fenlei .view-display-id-page_2 .views-field-totalcount{
	width:190px;
	text-align:right;
	margin-left:20px;
	color:#97842c;
}
.yscb_fenlei .view-display-id-page_3 .views-field-title,
.xlzd_fenlei .view-display-id-page_3 .views-field-title,
.xgzb_fenlei .view-display-id-page_3 .views-field-title,
.lazn_fenlei .view-display-id-page_3 .views-field-title,
.shcf_fenlei .view-display-id-page_3 .views-field-title,
.zccp_fenlei .view-display-id-page_3 .views-field-title,
.xzys_fenlei .view-display-id-page_3 .views-field-title,
.sspw_fenlei .view-display-id-page_3 .views-field-title,
.jktj_fenlei .view-display-id-page_3 .views-field-title{
	font-size:14px;
	font-weight:bold;
	margin-bottom:20px;
	float:left;
}
.yscb_fenlei .view-display-id-page_3 .views-row-first,
.yscb_fenlei .view-display-id-page_3 .views-row-even,
.xlzd_fenlei .view-display-id-page_3 .views-row-first,
.xlzd_fenlei .view-display-id-page_3 .views-row-even,
.xgzb_fenlei .view-display-id-page_3 .views-row-first,
.xgzb_fenlei .view-display-id-page_3 .views-row-even,
.lazn_fenlei .view-display-id-page_3 .views-row-first,
.lazn_fenlei .view-display-id-page_3 .views-row-even,
.shcf_fenlei .view-display-id-page_3 .views-row-first,
.shcf_fenlei .view-display-id-page_3 .views-row-even,
.zccp_fenlei .view-display-id-page_3 .views-row-first,
.zccp_fenlei .view-display-id-page_3 .views-row-even,
.xyzs_fenlei .view-display-id-page_3 .views-row-first,
.xzys_fenlei .view-display-id-page_3 .views-row-even,
.tyyy_fenlei .view-display-id-page_3 .views-row-even,
.xzys_fenlei .view-display-id-page_3 .views-row-first,
.sspw_fenlei .view-display-id-page_3 .views-row-first,
.sspw_fenlei .view-display-id-page_3 .views-row-even,
.jktj_fenlei .view-display-id-page_3 .views-row-first,
.jktj_fenlei .view-display-id-page_3 .views-row-even{
	border-bottom:1px dashed #CECECE;
	height:95px;
	margin-bottom:10px;
}
.yscb_fenlei,
.xlzd_fenlei,
.xgzb_fenlei,
.lazn_fenlei,
.shcf_fenlei,
.zccp_fenlei,
.xzys_fenlei,
.sspw_fenlei,
.jktj_fenlei{
	height:357px;
}
.yscb_fenlei .view-display-id-page_3 .views-field-totalcount,
.xlzd_fenlei .view-display-id-page_3 .views-field-totalcount,
.xgzb_fenlei .view-display-id-page_3 .views-field-totalcount,
.lazn_fenlei .view-display-id-page_3 .views-field-totalcount,
.shcf_fenlei .view-display-id-page_3 .views-field-totalcount,
.zccp_fenlei .view-display-id-page_3 .views-field-totalcount,
.xzys_fenlei .view-display-id-page_3 .views-field-totalcount,
.sspw_fenlei .view-display-id-page_3 .views-field-totalcount,
.jktj_fenlei .view-display-id-page_3 .views-field-totalcount{
	float:right;
	color:#97842C;
}
.yscb_fenlei .view-display-id-page_3 .views-field-teaser,
.xlzd_fenlei .view-display-id-page_3 .views-field-teaser,
.xgzb_fenlei .view-display-id-page_3 .views-field-teaser,
.lazn_fenlei .view-display-id-page_3 .views-field-teaser,
.shcf_fenlei .view-display-id-page_3 .views-field-teaser,
.zccp_fenlei .view-display-id-page_3 .views-field-teaser,
.xzys_fenlei .view-display-id-page_3 .views-field-teaser,
.sspw_fenlei .view-display-id-page_3 .views-field-teaser,
.jktj_fenlei .view-display-id-page_3 .views-field-teaser{
	float:left;
	color:#7a7a7a;
}





/*主题测试分类页面*/

.swyy_fenlei_kuang,
.kjyy_fenlei_kuang,
.gqwh_fenlei_kuang,
.tyyy_fenlei_kuang,
.wxcs_fenlei_kuang,
.page-taxonomy #content-header{
	background:url("http://ebook.2u4u.com.cn/sites/ebook.2u4u.com.cn/themes/ebook/css/fp_images/erjibg.gif") repeat-x;
	height:46px;
}

.swyy_fenlei_title,
.kjyy_fenlei_title,
.gqwh_fenlei_title,
.tyyy_fenlei_title,
.yscb_fenlei_title,
.xlzd_fenlei_title,
.xgzb_fenlei_title,
.lazn_fenlei_title,
.shcf_fenlei_title,
.zccp_fenlei_title,
.xzys_fenlei_title,
.sspw_fenlei_title,
.jktj_fenlei_title,
.wxcs_fenlei_title
{
	background:url("http://ebook.2u4u.com.cn/sites/ebook.2u4u.com.cn/themes/ebook/css/fp_images/red.gif") no-repeat;
	color:#850000;
	float:left;
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	margin:8px 0 0 15px;
	padding-left:15px;
}

.swyy_fenlei_more, .kjyy_fenlei_more, .gqwh_fenlei_more, .tyyy_fenlei_more, .yscb_fenlei_more,
.xlzd_fenlei_more, .xgzb_fenlei_more, .lazn_fenlei_more, .shcf_fenlei_more, .zccp_fenlei_more,
.xzys_fenlei_more, .sspw_fenlei_more, .jktj_fenlei_more, .wxcs_fenlei_more
{
	float:right;
	margin:7px 10px 0 0;
}
.swyy_fenlei_title_detial,
.kjyy_fenlei_title_detial,
.gqwh_fenlei_title_detail,
.tyyy_fenlei_title_detail,
.yscb_fenlei_title_detail,
.xlzd_fenlei_title_detail,
.xgzb_fenlei_title_detail,
.lazn_fenlei_title_detail,
.shcf_fenlei_title_detail,
.sspw_fenlei_title_detail,
.jktj_fenlei_title_detail,
.wxcs_fenlei_title_detail, 
.zccp_fenlei_title_detail,
.xzys_fenlei_title_more,
.sspw_fenlei_title_more,
.jktj_fenlei_title_more,
.wxcs_fenlei_title_more{
	float:left;
	margin-left:10px;
	margin-top:6px;
	color:#747474;
}

.swyy_fenlei .pane-new-quiz,
.kjyy_fenlei .pane-new-quiz,
.gqwh_fenlei .pane-new-quiz,
.tyyy_fenlei .pane-new-quiz,
.wxcs_fenlei .pane-new-quiz{
	float:left;

}
.swyy_fenlei .view-display-id-page_2,
.kjyy_fenlei .view-display-id-page_2,
.gqwh_fenlei .view-display-id-page_2,
.tyyy_fenlei .view-display-id-page_2,
.wxcs_fenlei .view-display-id-page_2{
	width:250px;
	background-color:#fdfbf3;
	height:310px;
}

.swyy_fenlei .view-display-id-page_3,
.kjyy_fenlei .view-display-id-page_3,
.gqwh_fenlei .view-display-id-page_3,
.tyyy_fenlei .view-display-id-page_3,
.wxcs_fenlei .view-display-id-page_3{
	width:370px;
	margin-left:30px;
}

.kjyy_fenlei .view-display-id-page_2 .field-content img,
.gqwh_fenlei .view-display-id-page_2 .field-content img,
.tyyy_fenlei .view-display-id-page_2 .field-content img,
.swyy_fenlei .view-display-id-page_2 .field-content img,
.wxcs_fenlei .view-display-id-page_2 .field-content img{
	margin:10px 0 0 30px;
	width:190px;
	height:190px;
}

.kjyy_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.gqwh_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.tyyy_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.swyy_fenlei .view-display-id-page_2 .views-field-teaser .field-content,
.wxcs_fenlei .view-display-id-page_2 .views-field-teaser .field-content{
	width:190px;
	display:block;
	margin-left:35px;
	color:#666666;
}

.kjyy_fenlei .view-display-id-page_2 .views-field-totalcount,
.gqwh_fenlei .view-display-id-page_2 .views-field-totalcount,
.tyyy_fenlei .view-display-id-page_2 .views-field-totalcount,
.swyy_fenlei .view-display-id-page_2 .views-field-totalcount,
.wxcs_fenlei .view-display-id-page_2 .views-field-totalcount{
	width:190px;
	text-align:right;
	margin-left:20px;
	color:#97842c;
}

.swyy_fenlei .view-display-id-page_3 .views-field-title,
.kjyy_fenlei .view-display-id-page_3 .views-field-title,
.gqwh_fenlei .view-display-id-page_3 .views-field-title,
.tyyy_fenlei .view-display-id-page_3 .views-field-title,
.wxcs_fenlei .view-display-id-page_3 .views-field-title{
	font-size:14px;
	font-weight:bold;
	margin-bottom:20px;
	width:210px;
	float:left;
}

.kjyy_fenlei .view-display-id-page_3 .views-row-first,
.kjyy_fenlei .view-display-id-page_3 .views-row-even,
.gqwh_fenlei .view-display-id-page_3 .views-row-first,
.gqwh_fenlei .view-display-id-page_3 .views-row-even,
.tyyy_fenlei .view-display-id-page_3 .views-row-first,
.tyyy_fenlei .view-display-id-page_3 .views-row-even,
.swyy_fenlei .view-display-id-page_3 .views-row-first,
.swyy_fenlei .view-display-id-page_3 .views-row-even,
.wxcs_fenlei .view-display-id-page_3 .views-row-first,
.wxcs_fenlei .view-display-id-page_3 .views-row-even{
	border-bottom:1px dashed #CECECE;
	height:95px;
	margin-bottom:10px;
}
.swyy_fenlei, .kjyy_fenlei, .gqwh_fenlei, .tyyy_fenlei, .wxcs_fenlei{
	height:357px;
}

.kjyy_fenlei .view-display-id-page_3 .views-field-totalcount,
.gqwh_fenlei .view-display-id-page_3 .views-field-totalcount,
.tyyy_fenlei .view-display-id-page_3 .views-field-totalcount,
.swyy_fenlei .view-display-id-page_3 .views-field-totalcount,
.wxcs_fenlei .view-display-id-page_3 .views-field-totalcount{
	float:right;
	color:#97842C;
}

.swyy_fenlei .view-display-id-page_3 .views-field-teaser,
.kjyy_fenlei .view-display-id-page_3 .views-field-teaser,
.gqwh_fenlei .view-display-id-page_3 .views-field-teaser,
.tyyy_fenlei .view-display-id-page_3 .views-field-teaser,
.wxcs_fenlei .view-display-id-page_3 .views-field-teaser{
	float:left;
	color:#7a7a7a;
}

/* -----------------------------专项练习 开始-------------------------- */
/*body {
	margin: 0px;
	padding:0px;
}*/
ul,li{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.kszx-zj {
	height: 310px;
	width: 210px;
	border-right: 1px dashed #CECECE;
	margin: 20px 0 0 15px;
	float: left;
}
.kszx-zj-title {
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	background-image: url(images/zhuanxiang_08.gif);
	background-repeat: no-repeat;
	background-position: left;
	text-indent: 18px;
	height: 15px;
	line-height: 20px;


	line-height: 18px;
	float: left;
	width: 160px;
}
.kszx-zj-line {
	background-image: url(images/zhuanxiang_16.gif);
	height: 3px;
	width: 210px;
	background-repeat: no-repeat;
	margin-top: 10px;
	float: left;
}
.kszx-zj-list {
	line-height: 25px;
	font-size: 12px;
	margin-top: 8px;
	height: auto;
	float: left;
	width: 210px;
}
.kszx-zj-list a{
   color:#666666;
   text-decoration:none;
}
.kszx-zj-list a:hover{
   color:#666666;
   text-decoration:underline;
}
.kszx-zj-more {
	float: left;
	width: 200px;
	text-align: right;
	font-size: 12px;
}
.kszx-zj-more a{
	color:#666666;
	 text-decoration:none;
}
.kszx-zj-more a:hover{
	 text-decoration:underline;
}
.kszx-fl {
	float: left;
	height: 310px;
	width: 500px;
	/*border-right:1px dashed #CECECE;
	margin: 20px 0 0 0; */
}
.kszx-fl-kuang {
	float: left;
	height: auto;
	width: 195px;
	font-size: 12px;
	margin-bottom: 6px;
}
.kszx-fl-text {
	float: left;
	height: auto;
	width: 190px;
	font-size: 12px;
	padding-left: 5px;
	line-height: 22px;
	margin-bottom: 10px;
}
.kszx-fl-kuang2 {
	height: 300px;
	width: 200px;
	margin-left: 30px;
	_margin-left: 20px;
	float: left;
}
.kszx-dzs {

	height: 310px;
	width: 210px;
	margin: 20px 0 0 15px;
	float: left;
}
.kszx-dzs-title {

	font-size: 14px;
	font-weight: bold;
	color: #990000;
	background-image: url(images/zhuanxiang_11.gif);
	background-repeat: no-repeat;
	background-position: left;
	text-indent: 18px;
	height: 15px;
	line-height: 20px;


	*line-height: 18px;
	float: left;
	width: 160px;
}
.kszx-fl-text a{
	color:#333333;
	text-decoration:none;
}
.kszx-fl-text a:hover{
	color:#333333;
	text-decoration:underline;
}

#quicktabs-4 .qtab-0{
	margin-left:220px;
	height:27px;
	margin-top:10px;
	
}

.zxlx .zxlx_kuang{
    background-image: url("http://2u4u.com.cn/sites/2u4u.com.cn/themes/stable/css/fp_images/bg-7.gif");
    background-repeat: repeat-x;
    height: 38px;
    width:200px;
	float:left;
}


.zxlx .zxlx_kuang .zxlx_title{
 background: url("fp_images/red.gif") no-repeat scroll left center transparent;
    color: #961F1F;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 20px;
    padding-left: 13px;
}


/* -----------------------------考试日历 开始-------------------------- */

.ksrl-top {
	background-image: url(fp_images/ksrl-top.gif);
	height: 53px;
	width: 220px;
}
.all {
	float: right;
	margin: 17px 8px 0 0;
	font-size: 12px;
}
.ksrl-top .all a{
	color:#FFFFFF;
	text-decoration:none;
}
.ksrl-top .all a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}
.ksrl-title {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-size: 14px;
	width: 195px;
	margin-left: 10px;
	height: 20px;
	font-weight: bold;
}
.ksrl-name {
	font-size: 12px;
	width: 45px;
	height: 160px;
	margin-left: 11px;
	float: left;
	line-height: 28px;
}
.ksrl-time {
	font-size: 12px;
	width: 70px;
	height: 120px;
	margin-left: 3px;
	float: left;
	line-height: 28px;
}
.ksrl-zj {
	font-size: 12px;
	width: 50px;
	height: 120px;
	float: left;
	margin-left: 10px;
	padding-left: 0px;
	line-height: 28px;
}
ul, ol, li{
	list-style:none;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;

}

.ksrl-zj ul li a{
	color:#990000;
	text-decoration:underline;
}
.ksrl-zj ul li a:hover{
	color:#FF0000;
}



/* -----------------------------主题测试开始-------------------------- */

.ztcs .ztcs_kuang{

    background-image: url("fp_images/erjibg.gif");
    background-repeat: repeat-x;
    height: 38px;
    width:720px;
}


.ztcs .ztcs_kuang .ztcs_title{
    background: url("fp_images/red.gif") no-repeat scroll left center transparent;
    color: #961F1F;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 33px;
    margin-left: 20px;
    padding-left: 13px;
}

.ztcsphb .view-header, .qwcsphb .view-header, #sidebar-second .view-header{
	background-image:url("fp_images/gracy-right-bg.gif");
	background-repeat:repeat-x;
	color:#961F1F;
	height:33px;
	width:218px;
	text-indent:10px;
	overflow:hidden;
}

.ztcsphb .view-content{
        margin:0 10px 0 30px;
	
}

.swyy .swyy_more a{
	float:right;
	color:#575757;
	margin-right:10px;

}

.kjyy .kjyy_more a{
	float:right;
	color:#575757;
	margin-right:10px;

}


.gqwh .gqwh_more a{
	float:right;
	color:#575757;
	margin-right:10px;

}
 
.tyyy .tyyy_more a{
	float:right;
	color:#575757;
	margin-right:10px ;	

}

.yyxzs .yyxzs_more a{
        float:right;
	color:#575757;
	margin-right:10px ;	
	
}



#sidebar-second h3.title, #sidebar-second .view-header, .section-fanyi #main #content-header h1.title, .section-fanyituijian #main #content-header, .section-fenlei .view-header, .section-yuedu #main #content-header h1.title, .section-wenda #main #content-header h1.title, .section-dhgps .view-header{
	padding:0px;
}

#block-views-whx_quiz-block_5 .block-inner .content {height:470px;font-size:12px;}
#block-views-whx_quiz-block_1 .block-inner .content {height:470px;font-size:12px;}
#block-views-whx_quiz-block_5 .views-row-first a,
#block-views-whx_quiz-block_1 .views-row-first a{
	color:#990000;
	font-weight:bold;
}
#block-views-whx_quiz-block_5 .item-list{
	padding-top:10px;
	border-right:0px;
	margin-left:14px;
}
#block-views-whx_quiz-block_1 .item-list{
	padding-top:0px;
	border-right:0px;
	margin-left:0px;
}

#block-views-whx_quiz-block_5 .item-list ol li{
	line-height:40px;
	margin:0px;
	border-bottom:1px dashed #CECECE;
	width:170px;
}

#block-views-whx_quiz-block_1 .item-list ol li{
	line-height:40px;
	margin:0px;
	border-bottom:1px dashed #CECECE;
	width:170px;
}

#block-views-whx_quiz-block_5 .field-content{
	font-size:12px;
}

#block-views-whx_quiz-block_1 .field-content{
	font-size:12px;
}


/*测试二级分类页面*/
.section-quiz .attachment-before .view-content {
    background: none repeat scroll 0 0 #FDFBF3;
    height: 200px;
    width: 723px;
	padding-top:13px;
}
.page-taxonomy #content-inner{
	border:1px solid #CECECE;
}


#block-views-whx_quiz-block_1 .item-list ol li{
	margin-left:20px;
	width:175px;
}
#content-area .view-whx-quiz .views-row{
	border-bottom:1px dashed #CECECE;
	width:650px;
	margin-left:35px;
	margin-bottom:20px;
	_margin-left:16px ;
	
	
}
#content-area .view-whx-quiz .views-row-last{
	border-bottom:0px;
}




#content-area .attachment-before .views-row{
	width:170px;
	border-bottom:0px;
	float:left;
}
.view-id-whx_quiz .views-field-title{
	font-size:14px;
	font-weight:normal;
}

.section-quiz #content-area .view-id-whx_quiz .views-field-title{
	font-weight:bold;
}

.view-id-whx_quiz .views-field-teaser{
	margin-top:10px;
	color:#8b8b8b;
	padding-bottom:10px;
}

.view-whx-quiz .views-field-totalcount{
	color:#97842C;
}

.item-list  li.pager-current{
	background-color:#CECECE;
	color:#FFFFFF;
	width:15px;
	height:15px;
}
.item-list .pager li{
	padding:1px 5px;
	border:1px solid #CECECE;
}
.item-list ul li{
	margin:0px;
}
.item-list .pager{
	margin-bottom:20px;
}
/******************************* 对页面 http://quiz.2u4u.com.cn 样式修正**************************/
    /* 右侧排行 CSS 修正*/
#content-area .view-whx-quiz .item-list li{width: 170px;margin:0; }
#content-area .view-whx-quiz .item-list li .field-content a{font-size:12px;}
#content-area .view-whx-quiz .item-list li .field-content a:hover{text-decoration:underline;}
.qwcsphb .pane-whx-quiz .pane-content .view-dom-id-11 .view-header{ padding:0;}
.zxtk .pane-panels-mini .gyyy .yingyong_content .yingyong_more a{ float:right; padding-right:10px;}
#quicktabs-2 ul.quicktabs_tabs.quicktabs-style-zen li {margin: 14px 0 0 3px;}
#quicktabs-2 .qtab-0 {height: 27px;margin-left: 220px;margin-top: 14px;}
.zxtk .gyyy .yingyong_content ul li{width:198px !important;}
.kszx-dzs .kszx-zj-list .item-list ul{ margin-left:11px;*margin-left:0px;}
.kszx-dzs .kszx-zj-list .item-list ul li{ *float:none;}

    /* 修正 ie 样式 */
#content-area .csfl .view-content{*width:193px}
.kszx-zj .kszx-zj-list .item-list ul{*padding-left:1em;}
.kszx-zj .kszx-zj-list .item-list ul li{*float:none;}
.kszx-zj .kszx-zj-list .item-list ul li a:hover{ *background:none; *color:#666}
.qwcsphb .pane-content{ *width:218px; *overflow:hidden;}
.qwcsphb .block-title-bg{ *margin-top:-5px; *margin-left:-10px;}
#content-area .kuang{_float:right; _margin:10px 0;}
.zxtk .pane-content .dy4,.zxtk .pane-content .zy8{_display:inline;}
.zxlx .pane-content #quicktabs-2 ul.quicktabs_tabs{_margin-top:-47px;}
.zxlx .pane-content #quicktabs-2 ul.quicktabs_tabs li{ _width:80px; }
.zxlx .pane-content #quicktabs-2 ul.quicktabs_tabs li a{}
.node-inner .kszx-dzs{_margin:10px 0 0 5px;_float:right}
#content-area .zxlx{ _width:auto;}
.ztcs .ul.item-list{_overflow:hidden; _padding:0; _margin:0;_width:212px!important;}
.ztcs .ul.item-list li{ _padding:0; _margin:0;}
.ztcs .ul.item-list li div.views-field-title{ _margin-left:-42px; _width:212px!important; _position:relative }
.qwcs .item-list ul{_overflow:hidden; _padding:0; _margin:0;_width:212px!important;}
.qwcs .item-list ul li{ _padding:0; _margin:0;}
.qwcs .item-list ul li div.views-field-title{ _margin-left:-42px; _width:212px!important; _position:relative }
#quicktabs-2 .quicktabs_tabs li a{ _background:url("/sites/quiz.2u4u.com.cn/modules/standard/quicktabs/tabstyles/zen/images/tab-right-ie6.png") no-repeat scroll right -32px transparent;_line-height:34px; _height:24px; _overflow:hidden; _text-align:center;}
#quicktabs-2 .quicktabs_tabs li{ _background:url("/sites/quiz.2u4u.com.cn/modules/standard/quicktabs/tabstyles/zen/images/tab-left-ie6.png") no-repeat scroll left -32px transparent}
#content-area .lunbo{ _overflow:hidden;}
ul#primary li.blob{ _background:url("fp_images/bg-6.gif") no-repeat scroll 0 -3px transparent;}
ul#primary li.blob a{ _background:url("fp_images/bg-6.gif") no-repeat scroll right -3px transparent;}



/* -----------------------------开始测试-------------------------- */
.node-type-quiz .tabs{
	display:none;
}
.node-type-quiz .node-inner .taxonomy{
	display:none;
}
.node-type-quiz #content-area{
	border-bottom:1px solid #CECECE;
	border-right:1px solid #CECECE;
	border-left:1px solid #CECECE;
}

.node-type-quiz #content-area .content p{
	width:600px;
	padding-top:13px;
	margin-left:60px;
	color:#797979;
}
.node-type-quiz #quiz-start-quiz-button-form input{
	background-image: url("images/text-bottom1.gif");
	width:106px;
	height:40px;
	border:0px;
	text-indent:-2000px;
	margin:50px 0 40px 307px;
}
.node-type-quiz #content-header{
	border-top:1px solid #CECECE;
	border-right:1px solid #CECECE;
	border-left:1px solid #CECECE;
}

.node-type-quiz #content-header .title_bg h1{
	text-align:center;
	padding-top:20px;
	border-bottom:1px dashed #CECECE;
	width:680px;
	margin-left:20px;
}

.node-type-quiz #content-bottom{
	border:1px solid #CECECE;
	margin-top:15px;
	padding:15px 30px 10px 30px;
}
.node-type-quiz #content-bottom .block-inner h3{
	background:url("http://ebook.2u4u.com.cn/sites/ebook.2u4u.com.cn/themes/ebook/css/images/images-19.gif") no-repeat scroll left center transparent;
	text-indent:20px;
	color:#961F1F;
	font-size:14px;
}

.node-type-quiz #content-bottom .item-list ul li{
	float:left;
	width:300px;
	line-height:27px;
}


.node-type-quiz .block-inner .content{
	padding:0px;
}

.node-type-quiz #quiz_progress{
	/*float:right;*/
	font-size:12px;
	font-style:normal;
	margin-right:20px;
	color:#961F1F;
	margin-left:560px;
}

.node-type-quiz .quiz-question-body{
	width:660px;
	margin-left:40px;
	margin-top:10px;
}
.form-item label{
	display:none;
}

.node-type-quiz #quiz-question-answering-form .form-radios{
	margin-left:40px;
}

tbody td{
	text-align:left;
}

#quiz-question-answering-form #edit-submit{
	background:url("images/next-bottom.gif");
	width:107px;
	height:41px;
	border:0px;
	margin:10px 0 30px 300px;
	font-size:16px;
	font-weight:bold;
}

tbody tr.odd td, tbody tr.even td{
	border-bottom:0px;
}

.q-skip-button{
	color:#7e7e7e;
}

.node-type-quiz #content-inner #content-area #quiz_score_possible{
	padding:20px 30px 10px 30px;
	font-size:14px;
	color:#961F1F;
}

.node-type-quiz #content-inner #content-area #quiz_score_percent{
	margin-left:30px;
	color:#7e7e7e;
}

.node-type-quiz #content-inner #content-area #quiz_summary{
	color:#7e7e7e;
	margin:10px 30px 0 30px;
}

.node-type-quiz #content-inner #content-area #quiz-report-form{
	padding:20px 30px 20px 30px;
}

#quiz-report-form p.quiz-report-question{
	display:none;
}
.quiz-report-score-container{
	display:none;
}
dl.quiz-report dt{
	border-top:0px;
	padding:10px 0 0 20px;
}

.node-type-quiz #quiz-question-answering-form #edit-back{
	margin-left:100px;
}
/***** IE 测试按钮不显示 ******/
#quiz-start-quiz-button-form { *padding-bottom:20px;}
#edit-back,#edit-op{*float:left; *margin-top:10px;}
.node-type-quiz #quiz-start-quiz-button-form input,#edit-submit{*display:block;}
#quiz-question-answering-form tbody tr.odd td, #quiz-question-answering-form tbody tr.even td { *border:none; }
#edit-op{*float:right; *margin:-60px 0 0 -280px;}


#quiz-report-form .response{
	display:none;
}

/**********Share TO按钮***********/
.home-shareto{float:right;margin-right:20px;margin-bottom:10px;}

 .zuo .more-link{clear:left;}
 .zuo .item-list li{ 
	width:170px; 
	*margin-left:-14px; 
	position:relative;_margin-left:-7px; 
	line-height:25px;
	overflow: hidden;
 	white-space: nowrap;
	background:url("images/dot.jpg") no-repeat scroll 0 8px transparent;
	text-indent:15px;

}
 .zuo .more-link{ padding-right:10px;} 
 .you .item-list li{*width:100%; line-height:25px;}
.you .exam4_more,.expert4_more,.expert6_more,.pets_more,.pretco_more,.exam6_more{ padding-right:10px; text-align:right;overflow:auto; clear:left;}
#quicktabs-4 .quicktabs_tabs li a{ _background:url("/sites/quiz.2u4u.com.cn/modules/standard/quicktabs/tabstyles/zen/images/tab-right-ie6.png") no-repeat scroll right -32px transparent;_line-height:34px; _height:28px; _overflow:hidden; _text-align:center;}
#quicktabs-4 .quicktabs_tabs li{ _background:url("/sites/quiz.2u4u.com.cn/modules/standard/quicktabs/tabstyles/zen/images/tab-left-ie6.png") no-repeat scroll left -32px transparent;_width:80px;}
#quicktabs-4 ul.quicktabs-style-zen { _margin-top:-42px; _width:760px; }

.zuo .view-display-id-block_1 {margin-top:20px;}

.view-id-whx_quiz .view-content a img{
	border-color:#F2EDDB;
	border-style:solid;
	border-width:1px 2px 2px 1px;
}

#content-area .attachment-before .views-row-even, #content-area .attachment-before .views-row-last{
	margin-left:60px;
}

/******************************* 对页面 http://quiz.2u4u.com.cn/quiz/ 样式修正**************************/
/*@表示chrome下的css,_表示IE6下的css */
#content-area .view-display-id-page_3 .views-row .views-field-teaser{ *clear:left; *width:360px;}
#block-views-quiz_term_name-block_1 .block-inner .view-content .views-row .field-content{*width:60px; *display:block;}
#block-views-quiz_term_name-block_1 .block-inner .content{*background:#FFF;height:340px;}
#block-views-whx_quiz-block_5 ol li .views-field-title .field-content a{font-size:12px;}
.block-inner .view-id-whx_quiz .item-list .views-row .views-field-title .field-content a{font-size:12px;!important;}
#block-views-whx_quiz-block_5 .field-content{font-size:12px;}
#block-views-whx_quiz-block_5 ol{ margin-left:10px;*margin-left:-7px;}
#block-views-whx_quiz-block_1 ol{ margin-left:10px;*margin-left:-20px;_margin-left:-30px;}
.section-dhgps .view-header{ text-indent:10px;}
#content-inner{overflow:hidden;} 
@media screen and (-webkit-min-device-pixel-ratio:0) { 
#content-inner{min-height:1570px;max-height:2900px!important;overflow:auto;} 
} 

/*解决 IE 闪烁的问题*/
#block-views-quiz_term_name-block_1 .block-inner .view-content .views-row .field-content a{_background:#FFF; _color:#000;}
#block-views-quiz_term_name-block_1 .block-inner .view-content .views-row .field-content h3{_background:#FFF;}
.section-dhgps .view-header{ text-indent:1em; padding-left:10px;}
.qwcs .pane-content .item-list ul li span{ _margin-left:50px;_display:block;_width:90%;}


.zuo .view-display-id-block_1 {padding-top:10px; line-height:22px}
.you .view-display-id-block_4 {padding-top:10px;line-height:22px}
.you{ margin-left:20px; width:220px; padding-bottom:20px;}
.zhong .kszx-fl-kuang2{ margin-left:20px;_margin-left:12px}
#content-area .zxlx{ height:395px;}
.qwcsphb{ height:430px}
.view-display-id-block_1 .view-header{ padding:0;*padding:6px 0 0 10px;}

.section-newquiz #content-inner{
	border:1px solid #CECECE;
}



.section-newquiz #zhuanjia_bg{
	background:url("/sites/2u4u.com.cn/themes/stable/css/fp_images/erjibg.gif") repeat-x scroll 0 0 transparent;
	height:46px;
}

.section-newquiz #zhuanjiafl{
	background:url("/sites/2u4u.com.cn/themes/stable/css/fp_images/red.gif") no-repeat scroll 0 10px transparent;
	color:#961F1F;
	font-size:14px;
	font-weight:bold;
	line-height:36px;
	margin-left:20px;
	padding-left:13px;
}
.section-newquiz .view-id-new_quiz .item-list ul li{
	width:670px;
	margin-left:25px;
	list-style:none;
	border-bottom:1px dashed #CECECE;
	margin-bottom:15px;
	padding-bottom:20px;
}

.section-newquiz .view-id-new_quiz .item-list ul li.views-row-last{
	border-bottom:0px;
}


.section-newquiz .view-id-new_quiz .views-field-title a{
	font-size:14px;
	font-weight:bold;
	margin-bottom:3px;
	color:#515151;
}


.section-newquiz .view-id-new_quiz .views-field-teaser{
	color:#666666;
	margin-top:15px;
}

.node-type-zhuanjia #content-header{
	border-top:3px solid #7F0802;
	border-left:1px solid #E7BDBD;
	border-right:1px solid #E7BDBD;
}

.node-type-zhuanjia #content-area{
	border-bottom:1px solid #E7BDBD;
	border-left:1px solid #E7BDBD;
	border-right:1px solid #E7BDBD;
	padding:0 25px 25px;
}
.node-type-zhuanjia .block-inner .content{
	padding:0px;
}

.node-type-zhuanjia #content-header .title_bg h1{
	text-align:center;
	font-size:28px;
	margin-top:30px;

}
.section-node #content-area .node-inner .content{
	border-top:1px dashed #CECECE;
	font-size:14px;
	line-height:30px;
	padding-top:20px;
}

 #block-views-quiz_term_name-block_1 .block-inner .view-content .views-row .field-content{ *width:64px;display:block;} /**/


.ad_1{clear:both;}
.ad_1_left{float:left;}
.ad_1_right{float:right;}


/*-----------google 提供的广告------------*/
.google_gg{
    margin:5px 0px 0 12px;
}
.google_gg ins{
    border:1px solid #CECECE;
}